
<div class="clearfix" ng-controller="BookingCarController">
    <!--Start: Tìm kiếm xe-->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h5><i class="glyphicon glyphicon-home"></i> {{'Home' | translate}} / {{'TitileSerachCar' | translate}}</h5>
            </div>
            <div class="x_content" style="display: block;">
                <!--START:  Loại xe -->
                <div class="col-lg-6 col-xs-6">
                    <div class="form-group">
                        <label>{{'TypeCar'| translate}}</label>
                        <select class="form-control select2" ng-model="searchModel.CarTypeID" style="width: 100%;">
                            <option selected="selected" value="">{{'All' | translate }}</option>
                            <option selected="selected" value="">4 chổ</option>
                            <option selected="selected" value="">16 chổ</option>
                            <option selected="selected" value="">ue32 chổio</option>

                            <!--<option ng-repeat="index in ListCarTypeInfo" value="{{index.CarTypeID}}">{{index.CarTypeName}}</option>-->
                        </select>
                    </div>
                </div>
                <!--END:  Loại xe -->
                <div class="col-lg-6 col-xs-6">
                    <div class="form-group">
                        <label>`</label>
                        <button class="btn btn-primary btn-round btn-block"
                                data-ng-click="searchCar(searchModel)">
                            <!--ng-disabled="!isSubmitingEnable()"-->
                            <i class="glyphicon glyphicon-search"></i>
                            <span>{{'SearchBookingCar'| translate}}</span>
                        </button>
                    </div>
                </div>
                <!--<div class="col-sm-6">

                    <button class="btn btn-primary btn-round btn-block"
                            data-ng-click="searchCar(searchModel)">
                        <i class="glyphicon glyphicon-search"></i>
                        <span>{{'Search'| translate}}</span>
                    </button>

                </div>-->
                <!-- </Button>-->

            </div>
        </div>
    </div>
    <!--End: Tìm kiếm xe-->
    <!--Start: Danh sách  xe-->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h5><i class="glyphicon glyphicon-th-list"></i> {{'ListCar' | translate}}</h5>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-lg-3 col-xs-6 ">
                        <div class="thumbnail" style="height: 280px;">
                            <div class="image view view-first" style="height: 84%;">
                                <img style="width: 100%; display: block;" src="../../../../images/img/xe_16_cho.jpg" alt="image">
                                <div class="mask">
                                    <p>
                                        Your Text
                                        Your Text
                                    </p>

                                    <div class="tools tools-bottom">
                                        <input type="button" name="name" value="Đặt xe" />
                                    </div>
                                </div>
                            </div>
                            <div class="caption" style="height: 100%;">
                                <p>Hyundai County Tracomeco HM</p>
                                <p>Hyundai County Tracomeco HM</p>
                                <p>Hyundai County Tracomeco HM</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6 ">
                        <div class="thumbnail" style="height: 280px;">
                            <div class="image view view-first" style="height: 84%;">
                                <img style="width: 100%; display: block;" src="../../../../images/img/xe_16_cho.jpg" alt="image">
                                <div class="mask">
                                    <p>
                                        Your Text
                                        Your Text
                                    </p>

                                    <div class="tools tools-bottom">
                                        <input type="button" name="name" value="Đặt xe" />
                                    </div>
                                </div>
                            </div>
                            <div class="caption" style="height: 100%;">
                                <p>Hyundai County Tracomeco HM</p>
                                <p>Hyundai County Tracomeco HM</p>
                                <p>Hyundai County Tracomeco HM</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6 ">
                        <div class="thumbnail" style="height: 280px;">
                            <div class="image view view-first" style="height: 84%;">
                                <img style="width: 100%; display: block;" src="../../../../images/img/xe_16_cho.jpg" alt="image">
                                <div class="mask">
                                    <p>
                                        Your Text
                                        Your Text
                                    </p>

                                    <div class="tools tools-bottom">
                                        <input type="button" name="name" value="Đặt xe" />
                                    </div>
                                </div>
                            </div>
                            <div class="caption" style="height: 100%;">
                                <p>Hyundai County Tracomeco HM</p>
                                <p>Hyundai County Tracomeco HM</p>
                                <p>Hyundai County Tracomeco HM</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6 ">
                        <div class="thumbnail" style="height: 280px;">
                            <div class="image view view-first" style="height: 84%;">
                                <img style="width: 100%; display: block;" src="../../../../images/img/xe_16_cho.jpg" alt="image">
                                <div class="mask">
                                    <p>
                                        Your Text
                                        Your Text
                                    </p>

                                    <div class="tools tools-bottom">
                                        <input type="button" name="name" value="Đặt xe" />
                                    </div>
                                </div>
                            </div>
                            <div class="caption" style="height: 100%;">
                                <p>Hyundai County Tracomeco HM</p>
                                <p>Hyundai County Tracomeco HM</p>
                                <p>Hyundai County Tracomeco HM</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--End: Danh sách  xe-->
    <!--Start: Tìm kiếm xe-->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h5><i class="glyphicon glyphicon-filter"></i> {{'ResultSerachBookingCar' | translate}}</h5>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="display: block;">
                Danh sách xe theo kết quả tìm kiếm...
            </div>
        </div>
    </div>
    <!--End: Tìm kiếm xe-->
</div>