<!--///-->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--<link href="../../../../Content/urban.css" rel="stylesheet" />-->
    <link href="../../../../Content/login.css" rel="stylesheet" />
</head>
<body>
    <div data-ng-controller="ChangePasswordController" style="margin-top: 100px">
        <div class="center-content">
            <div class="row no-margin">
                <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <div class="form-layout pl30 pr30 pt20 pb20 shadow" style="background-color: white;">
                        <div class="text-center">
                            <img src="../../../../images/logo/logo.jpg" height="100" style="margin-top:-70px" class="shadow" />
                        </div>
                        <div class="form-inputs">
                            <label style="color: rebeccapurple">{{'MessageChangeAccount'| translate}}</label>
                            <label>{{'UserName'| translate}}:  {{AccountName}} </label>  <br />
                            <label>{{'NewPassWord'| translate}}</label>
                            <input type="password" class="form-control" data-ng-model="changeReq.Password" maxlength="20">
                            <label>{{'ConfirmPassWord'| translate}}</label>
                            <input type="password" class="form-control" data-ng-model="changeReq.ConfirmPassWord">
                        </div> <br />
                        <div class="mb15 mt30">
                            <button class="btn btn-primary btn-round btn-block" type="submit"
                                    data-ng-click="ChangePassword(changeReq)">
                                <!--ng-disabled="!isSubmitingEnable()"-->
                                <span>{{'Update'| translate}}</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loading" style="position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999" ng-show="isLoading">
        <div style="position:fixed;background-color:white;opacity:0.6;width:100%;height:100%;z-index:9999"></div>
        <img style="position:fixed;z-index:9999;top:45%;left:48%" src="../../images/loading/loading.gif" width="100" />
    </div>
</body>
</html>