
<style>
    .x_title li {
        display: inline-block;
    }

    .x_title ul {
        margin-left: -45px;
    }

    .profile_details:nth-child(3n) {
        clear: none;
    }
    /* ng-show animation*/
    /* ngHide animation */
    .ngHideSample {
        padding: 10px;
        margin: 5px;
    }

        .ngHideSample.ng-hide-add {
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -ms-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
            opacity: 1;
        }

        .ngHideSample.ng-hide-add-active {
            opacity: 0;
        }

        .ngHideSample.ng-hide-remove {
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -ms-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
            opacity: 0;
        }

        .ngHideSample.ng-hide-remove-active {
            opacity: 1;
        }

    .title_bk {
        border-left: 3px solid;
        font-family: inherit;
        margin-top: auto;
        background: #f5f7fa;
        padding: 7px;
        display: block;
        background-color: #cde0c4;
        color: #356635;
        font-size: 11px;
        height: 29px;
    }
    .ed_border {
        border-radius: 5px
    }
</style>
<div class="clearfix">
    <div class="row">
        <!--Start: Tìm kiếm xe-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!--không có quyền-->
            <div class="x_content bs-example-popovers" ng-show="!showByPermission(800)">
                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong><i class="fa fa-warning"></i> Xin lỗi!</strong>
                    <ul>
                        <li>Bạn không có quyền thực hiện chức năng này.</li>
                    </ul>
                    <ul>
                        <li>Vui lòng liên hệ quản trị viên để được hỗ trợ.</li>
                    </ul>
                </div>
            </div>
            <!--không có quyền-->
            <div   ng-show="showByPermission(800)">
                <div class="x_title">
                    <ul>
                        <li><a href="#/main/home"><h5><i class="glyphicon glyphicon-home"></i> {{'Home' | translate}}</h5></a></li> 
                        <li><a href="#/main/manager-account"><h5> / Quản lý tài khoản</h5></a></li> 
                    </ul>
                </div>
                <div class="x_content" style="display: block;">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class=" ">
                                <div class="x_content" style="display: block;">
                                    <div class="col-sm-3 col-xs-6" style="float:right; margin-bottom:10px">
                                        <div class="form-group">
                                            <button class="btn btn-warning btn-round btn-block" ng-click="OpenpopupManagerUnit()">
                                                <i class="fa fa-plus-circle"></i>
                                                <span class="ng-binding">Quản lý đơn vị</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6" style="float:right; margin-bottom:10px">
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-round btn-block" ng-click="ManagerOpenpopupAddNewDriver()">
                                                <i class="fa fa-plus-circle"></i>
                                                <span class="ng-binding">Tạo mới tài khoản</span>
                                            </button>
                                        </div>
                                    </div> <br />
                                    <!--quản lý quyền-->
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="float: right" ng-show="showByPermission(801)">
                                        <div class="x_content">
                                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <button ng-show="!isShowRole" class="btn btn-warning btn-round btn-block" ng-click="ShowRole()" type="button" name="name">
                                                            <i class="fa fa-folder"></i>
                                                            <span class="ng-binding">Quản lý quyền</span>
                                                        </button>
                                                        <button ng-show="isShowRole" class="btn btn-warning btn-round btn-block" ng-click="ShowRole()" type="button" name="name">
                                                            <i class="fa fa-folder-open-o"></i>
                                                            <span class="ng-binding">Thu Nhỏ</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                                <div id="myTabContent" class="tab-content">
                                                    <!--//Quyền-->
                                                    <div role="tabpanel" class="tab-pane fade active in ngHideSample" id="tab_content1" aria-labelledby="home-tab" ng-show="isShowRole">
                                                        <div class="row">
                                                            <div class="table-responsive">
                                                                <table class="table table-hover  table-striped jambo_table bulk_action" fixed-table-headers="scrollable-area" ng-table="tableParams2">
                                                                    <thead>
                                                                        <tr class="headings">
                                                                            <th class="column-title">#STT</th>
                                                                            <th class="column-title">Tên quyền</th>
                                                                            <th class="column-title no-link last">
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr class="even pointer" ng-repeat="listRole in $data ">
                                                                            <td class=" ">
                                                                                {{$index+1}}
                                                                            </td>
                                                                            <td class="col-sm-12">
                                                                                <label ng-hide="editorEnabledRole[$index]">{{listRole.RoleName}}</label>
                                                                                <div ng-show="editorEnabledRole[$index]">
                                                                                    <input class="form-control" type="text" name="name" value=" {{listRole.RoleName}} " ng-model="listRole.RoleName">
                                                                                </div>
                                                                                <label ng-show="showmessRole[$index]" style="color:red">(*)Vui lòng nhập</label>
                                                                            </td>
                                                                            <td>
                                                                                <a ng-hide="editorEnabledRole[$index]" ng-click="enableEditorRole($index)" href="" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Sửa </a>
                                                                                <div ng-show="editorEnabledRole[$index]" class="col-sm-6">
                                                                                    <a href="" ng-click="SaveRole(listRole, $index)" class="btn btn-primary btn-xs"><i class="fa fa-save"></i> Lưu </a>
                                                                                    <a href="" ng-click="disableEditorRole($index)" class="btn btn-danger btn-xs"><i class="fa fa-refresh"></i> Hủy </a>
                                                                                </div>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--quản lý quyền-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Start: Danh sách tài khoản-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" ">
                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-6 profile_details">
                                            <div class="form-group">
                                                <label class="ng-binding">Đơn vị</label><i style="color:red;"> (*)</i>
                                                <span class="field-validation-valid text-danger" ng-show="SearchAccountReqModel.Unit_ID === '' || SearchAccountReqModel.Unit_ID === null && isCheckAccounttype">Vui lòng chọn!</span>
                                                <select class="form-control ed_border" ng-model="SearchAccountReqModel.Unit_ID" ng-change="ChangeDataSearchAccount()" style="width: 100%;">
                                                    <option selected="selected" value="">-- Vui lòng chọn --</option> 
                                                    <option ng-repeat="index in ManagerGetListUnitResponse" value="{{index.Unit_ID}}">
                                                        {{index.UnitName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 profile_details">
                                            <div class="form-group">
                                                <label class="ng-binding">Chức vụ</label><i style="color:red;"> (*)</i>
                                                <span class="field-validation-valid text-danger" ng-show="SearchAccountReqModel.AccountType === '' || SearchAccountReqModel.AccountType === null && isCheckAccounttype">Vui lòng chọn!</span>
                                                <select class="form-control ed_border" ng-model="SearchAccountReqModel.AccountType" ng-change="ChangeDataSearchAccount()" style="width: 100%;">
                                                    <option selected="selected" value="">-- Vui lòng chọn --</option>
                                                    <option value="1">Nhân viên/GV</option>
                                                    <option value="2">Lãnh đạo</option> 
                                                    <option value="7">Lái xe</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 profile_details">
                                            <div class="form-group">
                                                <label class="ng-binding">Trạng thái</label><i style="color:red;"> (*)</i>
                                                <span class="field-validation-valid text-danger" ng-show="SearchAccountReqModel.Account_Status === '' || SearchAccountReqModel.Account_Status === null && isCheckAccountstatus">Vui lòng chọn!</span>
                                                <select class="form-control ed_border" ng-model="SearchAccountReqModel.Account_Status" ng-change="ChangeDataSearchAccount()" style="width: 100%;">
                                                    <option value="">-- Vui lòng chọn --</option>
                                                    <option selected="selected" value="1">Hoạt động</option>
                                                    <option value="0">Khóa</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-6 profile_details" style="float:right;">
                                            <div class="form-group">
                                                <label><br /></label>
                                                <span ng-show="messdisabled" class="field-validation-valid text-danger" style="color:red;"><i>Vui lòng chọn đầy đủ thông tin (*)</i></span>
                                                <button class="btn btn-primary btn-round btn-block" ng-click="SearchAccount()" ng-disabled="!btndisabledSearch">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                    <span class="ng-binding">Tìm Kiếm</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="x_content">
                                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <!--<li role="presentation" class="active">
                                                <a href="" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Danh sách tài khoản</a>
                                            </li>-->
                                            <li role="presentation" class="active">
                                                <input type="text" class=" btn-round btn-block" placeholder="Trần Văn A..." ng-model="searchText">
                                            </li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="" aria-labelledby="home-tab">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details" dir-paginate="listAccount in ManagerGetListAccountResponse  |  itemsPerPage: numPag  | filter:searchText">
                                                        <div class="well profile_view">
                                                            <div class="col-sm-12">
                                                                <!--<h4 class="brief"><i>{{listAccount.FullName}}</i></h4>-->
                                                                <div class="left col-xs-7">
                                                                    <h2>
                                                                        <i class="fa fa-user"></i> <i style="color: #5d40ce; font-family: serif">{{listAccount.FullName}}</i>
                                                                    </h2>
                                                                    <ul class="list-unstyled">
                                                                        <!--<li><i class="fa fa-calendar"></i> {{listAccount.CreateDate |  date:'dd/MM/yyyy'}}</li>-->
                                                                        <li ng-show="listAccount.Gender === 1"><i class="fa fa-male"></i> Nam</li>
                                                                        <li ng-show="listAccount.Gender !== 1"><i class="fa fa-male"></i> Nữ</li>
                                                                        <li><i class="fa fa-hand-o-right"></i> Chức vụ: {{listAccount.AccountType}}</li>
                                                                        <li ng-show="listAccount.IsChangePassword"><i class="fa fa-exchange"></i> Đã đỗi mật khẩu</li>
                                                                        <li ng-show="!listAccount.IsChangePassword" style="color:red"><i class="fa fa-info-circle"></i> Chưa đỗi mật khẩu</li>

                                                                        <li ng-show="listAccount.Account_Status ==='1'"><i class="fa fa-circle text-success"></i> Hoạt động</li>
                                                                        <li ng-show="listAccount.Account_Status ==='0'" style="color:red"><i class="fa fa-unlock-alt"></i> Khóa</li>

                                                                        <li ng-show="listAccount.Verify"><i class="fa fa-check-square-o"></i> Đã duyệt</li>
                                                                        <li ng-show="!listAccount.Verify" style="color:red">
                                                                            <i class="fa fa-square-o"></i> Chưa duyệt
                                                                        </li>
                                                                        <!--<li><i class="fa fa-phone"></i> {{listAccount.NumberPhone}}</li>-->
                                                                        <!--<li><i class="fa fa-at"></i> Hạn {{listAccount.LicenseClass}}</li>-->
                                                                    </ul>
                                                                </div>
                                                                <div class="right col-xs-5 text-center">
                                                                    <a href="" target="_blank">
                                                                        <img src="../../../../images/avt/{{listAccount.Avatar}}" alt="avatar" style="height:140px;width:auto;max-width:100%">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 bottom text-center">
                                                                <div class="col-xs-12 col-sm-6 emphasis">
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 emphasis">
                                                                    <button style="font-size:11px" type="button" class="btn btn-round btn-warning " ng-click="btnOpenPopupDetailAccount(listAccount.Account_ID)">
                                                                        Xem chi tiết <i class="fa fa-share-square-o"> </i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End danh sách tài khoản-->
                    <div class="row" style="float:right;">
                        <div class="col-sm-3 col-xs-4">
                            Số lượng: <input type="number" ng-model="numPag" style="width: 44px;" />
                        </div>

                        <div class="col-sm-9 col-xs-8">
                            <dir-pagination-controls boundary-links="true"
                                                     direction-links="true">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
