 
<style>
    .x_title li {
        display: inline-block;
    }

    .x_title ul {
        margin-left: -45px;
    }

    .profile_details:nth-child(3n) {
        clear: none;
    }
</style>
<div class="clearfix">
    <div class="row">
        <!--Start: Tìm kiếm xe-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul>
                        <li><a href="#/main/manager-account"><h5><i class="fa fa-group"></i> Quản lý tài khoản</h5></a></li>
                        <!--<li><a href="#/main/dat-xe"><h5>/ {{'TitileSerachCar' | translate}}</h5></a></li>-->
                        <li><a href="#/main/manager-account"><h5>/ Danh sách tài khoản</h5></a></li>
                    </ul>
                </div>
                <div class="x_content" style="display: block;">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content" style="display: block;">
                                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                                        <div class="profile_img">
                                            <div id="crop-avatar">
                                                <img class="img-responsive avatar-view" src="../../../../images/avt/user.jpg" alt="Avatar" title="Change the avatar">
                                            </div>
                                        </div>
                                        <h2>{{ShowAccountInfo.FullName}}</h2>
                                        <ul class="list-unstyled user_data">
                                            <li>
                                                <i class="fa fa-map-marker user-profile-icon"></i> {{ShowAccountInfo.Addres}}
                                            </li> 
                                            <li>
                                                <i class="fa fa-phone user-profile-icon"></i> {{ShowAccountInfo.NumberPhone}}
                                            </li>  
                                            <li>
                                                <i class="fa fa-envelope-square user-profile-icon"></i> {{ShowAccountInfo.Email}}
                                            </li>
                                            <li>
                                                <i class="fa fa-birthday-cake user-profile-icon"></i> {{ShowAccountInfo.Birthday | date:'dd/MM/yyyy'}}
                                            </li> 
                                            <li>
                                                <i class="fa fa-archive user-profile-icon"></i> Khoa/Viện {{ShowAccountInfo.UnitName | date:'dd/MM/yyyy'}}
                                            </li>
                                            <!--<li class="m-top-xs">
                                                <i class="fa fa-external-link user-profile-icon"></i>
                                                <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                                            </li>-->
                                        </ul>
                                        <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Chỉnh sửa</a>
                                        <br>

                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <div class="profile_title">
                                            <div class="col-md-6">
                                                <h2>Quyền của tôi</h2>
                                            </div>
                                        </div>

                                        <!--<div id="graph_bar" style="width: 100%; height: 280px; position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                                        </div>-->
                                        <table class="table table-hover" ng-table="tableParams1" >
                                            <thead>
                                                <tr>
                                                    <th>#STT</th>
                                                    <th>Tên quyền</th> 
                                                    <th>Trạng thái</th> 
                                                    <th>Người cấp</th> 
                                                    <th></th>  
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="role in $data ">
                                                    <th>
                                                        {{$index+1}}
                                                    </th> 
                                                    <td >
                                                        {{role.RoleName}}
                                                    </td> 
                                                    <td>
                                                        <i class="fa fa-circle text-success"></i>
                                                        {{role.RoleDetail_Status}}
                                                    </td> 
                                                    <td>
                                                        {{role.FullNameUpdate}}
                                                    </td> 
                                                    <td>
                                                        ...
                                                    </td>  
                                                    
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        <br /><br />
                                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                <li role="presentation" class="active">
                                                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Recent Activity</a>
                                                </li>
                                                
                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                                    <table class="table table-hover" ng-table="tableParams1">
                                                        <thead>
                                                            <tr>
                                                                <th>#STT</th>
                                                                <th>Tên quyền</th>
                                                                <th>Trạng thái</th>
                                                                <th>Người cấp</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="role in $data ">
                                                                <th>
                                                                    {{$index+1}}
                                                                </th>
                                                                <td>
                                                                    {{role.RoleName}}
                                                                </td>
                                                                <td>
                                                                    <i class="fa fa-circle text-success"></i>
                                                                    {{role.RoleDetail_Status}}
                                                                </td>
                                                                <td>
                                                                    {{role.FullNameUpdate}}
                                                                </td>
                                                                <td>
                                                                    ...
                                                                </td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
