<style>
    .modal-header {
        background-color: #2A3F54;
    }
    /*-Upload hình-*/
    .danger {
        font-weight: bold;
        /*//padding: 20px;*/
        color: red;
    }

    /* vi.ly - button delete */
    div.show-image {
        position: relative;
        /* float: left;  */
        margin: 5px;
    }

        div.show-image:hover img {
            opacity: 0.5;
        }

        div.show-image:hover input.delete {
            display: block;
        }

        div.show-image input.delete {
            position: absolute;
            display: none;
        }

        div.show-image input.update {
            top: 0;
            left: 0;
        }

        div.show-image input.delete {
            top: 0;
            left: 60%;
        }

    /*#imgremove {
        position: absolute;
        margin-left: 22px;
        margin-top: -192px;
    }*/
    #imgremove {
        position: absolute;
        margin-left: -35px;
        margin-top: 5px;
    }
    /* ng-show animation*/
    /* ngHide animation */
    .ngHideSample {
        padding: 10px;
        margin: 5px;
    }

        .ngHideSample.ng-hide-add {
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -ms-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
            opacity: 1;
        }

        .ngHideSample.ng-hide-add-active {
            opacity: 0;
        }

        .ngHideSample.ng-hide-remove {
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -ms-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
            opacity: 0;
        }

        .ngHideSample.ng-hide-remove-active {
            opacity: 1;
        }
</style>
<!--<link href="../../../../../script/css/bootstrap.min.css" rel="stylesheet" />
<link href="../../../../../script/teamplate/iCheck/skins/flat/green.css" rel="stylesheet" />
<link href="../../../../../script/teamplate/switchery/dist/switchery.min.css" rel="stylesheet" />
<link href="../../../../../script/teamplate/build/css/custom.min.css" rel="stylesheet" />-->
<!-- Modal content-->
<!-- Test  -->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="ClosePopup()" class="close">&times;</button>
        <h4 class="modal-title">Thêm mới tài khoản</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="x_panel">
                        <div class="col-md-2 col-sm-2 col-xs-12 profile_left">
                            <div class="form-group" style="text-align: center;">
                                <span ng-show="ImageModel.CHAN_DUNG.ImageData.compressed.dataURL ==='' || ImageModel.CHAN_DUNG.ImageData.compressed.dataURL === null &&  !TestInputChange " style="color: orangered">Vui lòng chọn!</span>

                                <div ng-show="!ImageModel.CHAN_DUNG.ImageData.compressed.dataURL =='' || !ImageModel.CHAN_DUNG.ImageData.compressed.dataURL === null  ">
                                    <img style="width:auto; max-width: -webkit-fill-available;" ng-src="{{ImageModel.CHAN_DUNG.ImageData.compressed.dataURL}}"
                                         width="200" height="200" />
                                    <img class="delete" type="button" value="xóa" ng-click="removeImage()" src="../../../../images/icon/close_delete-512.png" id="imgremove" style="width: 30px" />

                                </div>
                                <div class="row">
                                    <div>
                                        <button class="btn btn-payment" id="loadFileXml" value="Chọn Hình"
                                                onclick="document.getElementById('file1').click();" style="margin-top: 5px;">
                                            <span class="glyphicon glyphicon-picture"></span>
                                            Chọn Hình
                                            <i style="color:red;">(*)</i>

                                        </button>
                                        <!--<input style="display:none;" type="file" id="file1" accept="image/*"
                                        ng-model="ImageModel.CHAN_DUNG.ImageData.compressed.dataURL" image="ImageModel.CHAN_DUNG.ImageData" resize-max-height="600"
                                        resize-max-width="600" resize-quality="0.7" resize-type="image/jpg" ng-image-compress />-->
                                        <input style="display:none;" type="file" id="file1" accept="image/*"
                                               ng-model="ImageModel.CHAN_DUNG.ImageData.compressed.dataURL" image="ImageModel.CHAN_DUNG.ImageData" resize-max-height="600"
                                               resize-max-width="600" resize-quality="0.7" resize-type="image/jpg" ng-image-compress />

                                    </div>
                                </div>
                            </div>


                            <!--<div id="crop-avatar">
                                <img class="img-responsive avatar-view" src="../../../../../images/avt/user.jpg" alt="Avatar" title="Change the avatar" style="    width: 142px; ">
                            </div>
                            <br />
                            <div class="form-group">
                                <span class="field-validation-valid text-danger">Vui lòng chọn!</span>
                                <div class="col-sm-12 col-md-12">
                                    <button class="btn Sbtn-primary btn-round btn-block" type="submit"
                                            data-ng-click="yes()">
                                        <i class="fa fa-plus-circle"></i>
                                        <span>Chọn</span>
                                        <i style="color:red;">(*)</i>
                                    </button>
                                </div>
                            </div>-->
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_content">
                                    <div class="form-horizontal form-label-left input_mask">
                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Họ Tên: <i style="color:red;">(*)</i></div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="form-control text-box single-line" ng-model="CreateNewAccountmModel.FullName" type="text" value="" autofocus ng-change="TestInputChange(CreateNewAccountmModel)">
                                                <span class="field-validation-valid text-danger" ng-show=" CreateNewAccountmModel.FullName === '' || CreateNewAccountmModel.FullName === null && !TestInputChange"><i class="fa fa-warning"></i>Vui lòng nhập!</span>
                                            </div>
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Giới tính: <i style="color:red;">(*)</i></div>

                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <div class="radio" style="float:left; padding-right:17px">
                                                    <label>
                                                        <input type="radio" value="1" ng-model="CreateNewAccountmModel.Gender" ng-change="TestInputChange(CreateNewAccountmModel)" name="Gender"> Nam
                                                    </label>
                                                </div>

                                                <div class="radio" style="float:  left">
                                                    <label>
                                                        <input type="radio" value="0" ng-model="CreateNewAccountmModel.Gender" ng-change="TestInputChange(CreateNewAccountmModel)" name="Gender"> Nữ
                                                    </label>
                                                </div>
                                            </div>
                                            <div>
                                                <span class="field-validation-valid text-danger" ng-show=" CreateNewAccountmModel.Gender === '' || CreateNewAccountmModel.Gender === null && !TestInputChange"><i class="fa fa-warning"></i>Vui lòng chọn!</span>
                                                <!--   <span class="field-validation-valid text-danger">Vui lòng chọn!</span>-->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Điện thoại: <i style="color:red;">(*)</i></div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="form-control text-box single-line" value="" ng-model="CreateNewAccountmModel.NumberPhone" ng-change="TestInputChange(CreateNewAccountmModel)" type="number">
                                                <span class="field-validation-valid text-danger" ng-show="CreateNewAccountmModel.NumberPhone === '' || CreateNewAccountmModel.NumberPhone === null && !TestInputChange"><i class="fa fa-warning"></i>Vui lòng nhập!</span>
                                            </div>
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Email: <i style="color:red;">(*)</i></div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="form-control text-box single-line" value="" ng-model="CreateNewAccountmModel.Email" ng-change="TestInputChange(CreateNewAccountmModel)" type="text">
                                                <span class="field-validation-valid text-danger" ng-show="CreateNewAccountmModel.Email === '' || CreateNewAccountmModel.Email === null && !TestInputChange"><i class="fa fa-warning"></i>Vui lòng nhập!</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Địa chỉ: <i style="color:red;">(*)</i></div>
                                            <div class="col-md-10 col-sm-10 col-xs-12">
                                                <input class="form-control text-box single-line" value="" ng-model="CreateNewAccountmModel.Addres" ng-change="TestInputChange(CreateNewAccountmModel)" type="text">
                                                <span class="field-validation-valid text-danger" ng-show="CreateNewAccountmModel.Addres === '' || CreateNewAccountmModel.Addres === null && !TestInputChange"><i class="fa fa-warning"></i>Vui lòng nhập!</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Ngày sinh: <i style="color:red;">(*)</i></div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="form-control text-box single-line" value="" ng-model="CreateNewAccountmModel.BirthDay" ng-change="TestInputChange(CreateNewAccountmModel)" type="date">
                                                <span class="field-validation-valid text-danger" ng-show="CreateNewAccountmModel.BirthDay === '' || CreateNewAccountmModel.BirthDay === null && !TestInputChange"><i class="fa fa-warning"></i>Vui lòng nhập!</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Tài khoản: <i style="color:red;">(*)</i></div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="form-control text-box single-line" ng-model="CreateNewAccountmModel.UserName" ng-change="TestInputChange(CreateNewAccountmModel)" type="text">
                                                <span class="field-validation-valid text-danger" ng-show="CreateNewAccountmModel.UserName === '' || CreateNewAccountmModel.UserName === null && !TestInputChange"><i class="fa fa-warning"></i>Vui lòng nhập!</span>
                                            </div>
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Mật khẩu: <i style="color:red;">(*)</i></div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="form-control text-box single-line" disabled ng-model="CreateNewAccountmModel.Password" ng-change="TestInputChange(CreateNewAccountmModel)" type="text">
                                                <span class="field-validation-valid text-danger" ng-show="CreateNewAccountmModel.Password === '' || CreateNewAccountmModel.Password === null && !TestInputChange"><i class="fa fa-warning"></i>Vui lòng nhập!</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Đơn vị: <i style="color:red;">(*)</i></div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <select class="form-control " ng-model="CreateNewAccountmModel.Unit_ID" ng-change="TestInputChange(CreateNewAccountmModel)" ng-click="test()" style="width: 100%;">
                                                    <!--<option selected value="all">{{'All' | translate }}</option>-->
                                                    <option selected value="">-- Vui lòng chọn --</option>
                                                    <option ng-repeat="index in ManagerGetListUnitResponse" value="{{index.Unit_ID}}">
                                                        {{index.UnitName}}
                                                    </option>
                                                </select>
                                                <span class="field-validation-valid text-danger" ng-show="CreateNewAccountmModel.Unit_ID === '' || CreateNewAccountmModel.Unit_ID === null && !TestInputChange"><i class="fa fa-warning"></i>Vui lòng chọn!</span>
                                            </div>
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Chức vụ: <i style="color:red;">(*)</i></div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <select class="form-control" ng-model="CreateNewAccountmModel.AccountType" ng-change="TestInputChange(CreateNewAccountmModel)">
                                                    <option selected value="">-- Vui lòng chọn --</option>
                                                    <!--<option value="1" ng-show="isShowKhoaVien == 1 &&  isShowQuanTri !== 2  &&  isShowBGH !== 3  ">
                                                        Thư ký
                                                    </option>
                                                    <option value="2" ng-show="isShowKhoaVien == 1  &&  isShowQuanTri !== 2  &&  isShowBGH !== 3  ">
                                                        Trưởng khoa
                                                    </option>
                                                    <option value="3" ng-show="  isShowQuanTri== 2">
                                                        Quản trị viên
                                                    </option>
                                                    <option value="5" ng-show="isShowBGH == 3  ">
                                                        Nhân viên BGH
                                                    </option>
                                                    <option value="7" ng-show="isShowLaiXe == 4 ">
                                                        Lái xe
                                                    </option>-->
                                                    <!--{ AccountType: 1, AccountTypeName: "Thư ký" },
                                                    { AccountType: 2, AccountTypeName: "Trưởng khoa" },
                                                    { AccountType: 3, AccountTypeName: "Phòng quản trị" },
                                                    { AccountType: 4, AccountTypeName: "Văn phòng trường" },
                                                    { AccountType: 5, AccountTypeName: "Ban giám hiệu" },
                                                    { AccountType: 7, AccountTypeName: "Lái xe" },-->
                                                    <option ng-repeat="index in AccountType" value="{{index.AccountType}}" ng-show="CreateNewAccountmModel.Unit_ID !=== '' || CreateNewAccountmModel.Unit_ID !=== null">
                                                        {{index.AccountTypeName}}
                                                    </option>
                                                </select>
                                                <span class="field-validation-valid text-danger" ng-show="CreateNewAccountmModel.AccountType === '' || CreateNewAccountmModel.AccountType === null && !TestInputChange"><i class="fa fa-warning"></i>Vui lòng chọn!</span>
                                            </div>
                                        </div>
                                        <div class="ngHideSample" ng-show="isDriver">
                                            <div class="form-group">
                                                <div class="control-label col-md-2 col-sm-2 col-xs-12">Số bằng lái: <i style="color:red;">(*)</i></div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <input class="form-control text-box single-line" type="number" value="" ng-model="CreateNewAccountmModel.DriverLicenseNo" ng-change="TestInputChange(CreateNewAccountmModel)">
                                                    <span class="field-validation-valid text-danger" ng-show="CreateNewAccountmModel.DriverLicenseNo === '' || CreateNewAccountmModel.DriverLicenseNo === null && !TestInputChange"><i class="fa fa-warning"></i>Vui lòng chọn!</span>
                                                </div>
                                                <div class="control-label col-md-2 col-sm-2 col-xs-12">Hạng: <i style="color:red;">(*)</i></div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <input class="form-control text-box single-line" type="text" value="" ng-model="CreateNewAccountmModel.LicenseClass" ng-change="TestInputChange(CreateNewAccountmModel)">
                                                    <span class="field-validation-valid text-danger" ng-show="CreateNewAccountmModel.LicenseClass === '' || CreateNewAccountmModel.LicenseClass === null && !TestInputChange"><i class="fa fa-warning"></i>Vui lòng nhập!</span>
                                                </div>
                                            </div>
                                            <!--<div class="form-group">
                                                <div class="control-label col-md-2 col-sm-2 col-xs-12">Nơi cấp: <i style="color:red;">(*)</i></div>
                                                <div class="col-md-10 col-sm-10 col-xs-12">
                                                    <input class="form-control text-box single-line" type="text" value="">
                                                    <span class="field-validation-valid text-danger">Vui lòng nhập!</span>
                                                </div>
                                            </div>-->
                                            <div class="form-group">
                                                <!--<div class="control-label col-md-2 col-sm-2 col-xs-12">Ngày cấp: <i style="color:red;">(*)</i></div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <input class="date-picker form-control" name="ngaycapbl" required="required" type="date">
                                                    <span class="field-validation-valid text-danger">Vui lòng nhập!</span>
                                                </div>-->
                                                <div class="control-label col-md-2 col-sm-2 col-xs-12">Ngày hết hạn: <i style="color:red;">(*)</i></div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <input class="date-picker form-control" ng-model="CreateNewAccountmModel.LicenseExpires" ng-change="TestInputChange(CreateNewAccountmModel)" type="date">
                                                    <span class="field-validation-valid text-danger" ng-show="CreateNewAccountmModel.LicenseExpires === '' || CreateNewAccountmModel.LicenseExpires === null && !TestInputChange"><i class="fa fa-warning"></i>Vui lòng nhập!</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped jambo_table bulk_action">
                                                    <thead>
                                                        <tr class="headings">
                                                            <th class="column-title">#STT</th>
                                                            <th class="column-title">Tên quyền</th>
                                                            <th class="column-title">Chọn quyền</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="even pointer" ng-repeat="listRole in ListRole ">
                                                            <td class=" ">
                                                                {{$index+1}}
                                                            </td>
                                                            <td class=" ">
                                                                {{listRole.RoleName}}
                                                            </td>
                                                            <td class=" ">
                                                                <md-checkbox aria-label="Checkbox 1" ng-model="listRole.checked" ng-click='updateCheck(listRole.RoleMaster_ID)'></md-checkbox>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--<div class="col-md-5 col-sm-5 col-xs-12" style="float:right;">
                                            <div class="form-group">
                                                <button class="btn btn-warning btn-round btn-block" ng-click="Decentralization()">
                                                    <i class="fa fa-plus-circle"></i>
                                                    <span class="ng-binding">Cấp Quyền</span>
                                                </button>
                                            </div>
                                        </div>-->
                                    </div>
                                    <div class=" col-md-12 col-sm-12 col-xs-12 form-group" ng-show="btndisabled">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                                        <div class=" col-md-9 col-sm-9 col-xs-12 form-group alert alert-warning ngHideSample" style="float: right; height: 34px; padding: inherit; text-align:center" >
                                            <h6>
                                                <i class="fa fa-warning"> Vui lòng nhập đầy đủ thông tin vào các trường bắt buộc (*) !. </i>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6" style="margin-bottom: 1px;">
                                                <button class="btn btn-danger btn-round btn-block" type="submit"
                                                        ng-click="ClosePopup()">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                    <span>HỦY</span>
                                                </button>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <button class="btn btn-primary btn-round btn-block" type="submit" ng-disabled="btndisabled"
                                                        data-ng-click="CeateNewAccount(ImageModel.CHAN_DUNG.ImageData.compressed.dataURL)">
                                                    <i class="fa fa-plus-circle"></i>
                                                    <span>THÊM</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="../../../../../script/js/jquery.min.js"></script>
<script src="../../../../../script/js/bootstrap.min.js"></script>
<script src="../../../../../script/teamplate/iCheck/icheck.min.js"></script>
<script src="../../../../../script/teamplate/switchery/dist/switchery.min.js"></script>
<script src="../../../../../script/teamplate/build/js/custom.min.js"></script>-->
