
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>BookingHutech</h3>
            <h3 style="font-size:15px" ng-click="OpenPopupShowProfile()">
                <a href="">
                    <i class="fa fa-circle text-success"></i> Hi!{{UserName}} <i class="fa fa-eye"></i>
                </a>
            </h3>
            <strong>
                BH
            </strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#/main/home">
                    <i class="glyphicon glyphicon-home"></i>
                    Trang Chủ
                </a>
            </li>
            <li>
                <a href="#registerSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-file-text"></i>
                    Quản lý cấp Xe
                </a>
                <ul class="collapse list-unstyled" id="registerSubmenu">
                    <li ng-show="showByPermission(900)">
                        <a href="#/main/manager-Booking-Car"><i class="fa fa-hand-o-right"></i>Đơn cấp xe</a>
                    </li>
                    <li ng-show="showByPermission(904)">
                        <a href="#/main/unitRegister-BookingCar"> <i class="fa fa-hand-o-right"></i>Chờ đề xuất</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#carSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-car"></i>
                    Quản lý xe
                </a>
                <ul class="collapse list-unstyled" id="carSubmenu">
                    <li><a href="#/main/booking-car"><i class="fa fa-hand-o-right"></i>Danh sách xe</a></li>
                </ul>
            </li>
            <li>
                <a href="#costSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-money"></i>
                    Quản lý chi phí
                </a>
                <ul class="collapse list-unstyled" id="costSubmenu">
                    <li><a href="#/main/manager-fuel-cost">  <i class="fa fa-hand-o-right"></i>Nhiên liệu</a></li>
                    <li><a href="#/main/manager-repair-cost"> <i class="fa fa-hand-o-right"></i>Sửa chữa</a></li>
                    <li><a href="#/main/manager-other-cost"> <i class="fa fa-hand-o-right"></i>Chi phí khác</a></li>
                </ul>
            </li>
            <li>
                <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-bar-chart"></i>
                    Thống kê
                </a>
                <ul class="collapse list-unstyled" id="reportSubmenu">
                    <li><a href="#/main/report-cost"><i class="fa fa-hand-o-right"></i>Chi phí xe</a></li>
                    <li><a href="#/main/report-cost"><i class="fa fa-hand-o-right"></i>Chuyến đi</a></li>
                    <li><a href="#/main/report-cost"><i class="fa fa-hand-o-right"></i>Hoạt động lái xe</a></li>
                </ul>
            </li>
            <li>
                <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-group"></i>
                    Quản lý tài khoản
                </a>
                <ul class="collapse list-unstyled" id="accountSubmenu">
                    <li ng-show="showByPermission(800)">
                        <a href="#/main/manager-account"><i class="fa fa-hand-o-right"></i>Quản lý người dùng</a>
                    </li>
                    <li><a href="#/main/driver-manager"><i class="fa fa-hand-o-right"></i>Quản lý lái xe</a></li>
                    <li><a href="#/main/assign-driver"><i class="fa fa-hand-o-right"></i>Phân công</a></li>
                    <li><a href="" ng-click="OpenPopupShowProfile()"><i class="fa fa-hand-o-right"></i>Thông tin người dùng</a></li>
                </ul>
            </li>
            <li>
                <a href="#driverSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    Lái xe
                </a>
                <ul class="collapse list-unstyled" id="driverSubmenu">
                    <li>
                        <a href="#/main/manager-car-by-driver"><i class="fa fa-hand-o-right"></i>Quản lý chi phí</a>
                    </li>
                    <li><a href="#/main/calendar-driver"><i class="fa fa-hand-o-right"></i>Lịch công tác</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-send"></i>
                    Hỗ trợ
                </a>
            </li>
            <li>
                <a href="" ng-click="logout()">
                    <i class="fa fa-sign-out"></i>
                    Đăng Xuất
                </a>
            </li>
        </ul>

    </nav>

    <!-- Page Content Holder -->
    <div id="content" class="container">
        <div class="container">
            <div class="navbar-header" style="width: -webkit-fill-available;">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" style="margin-left: 8px;">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Menu</span>
                </button>
            </div>
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                </ul>
            </div>-->
        </div>
        <nav class="navbar navbar-default "> 
            <div class="container-fluid ">
                <div ui-view></div>
            </div>
        </nav>

        <div class="col-sm-12" ng-include="'wwwroot/views/common/footer/footer.html'">

        </div>
    </div>
</div>

<script src="../../script/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
<div id="loading" style="position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999" ng-show="isLoading">
    <div style="position:fixed;background-color:white;opacity:0.6;width:100%;height:100%;z-index:9999"></div>
    <img style="position:fixed;z-index:9999;top:45%;left:48%" src="../../images/loading/loading.gif" width="100" />
</div>
<div id="loading" style="position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999" ng-show="showError" > <!--//showError-->
    <img style="position:fixed;z-index:9999;top:45%;left:48%" src="../../images/loading/loading.gif" width="100" />
    <!--<input style="  position:fixed;background-color:white;opacity:0.98;width:100%;height:100%;z-index:9999;color: #0f33ef;font-size: 27px; font-family:'Poppins', sans-serif;" type="button" name="name" ng-click="Error()" value="Xin lỗi! Phiên bản làm việc hết hạn.'+" Vui lòng đăng nhập lại. Click để thoát" />-->
    <div class="x_content bs-example-popovers"style=" margin-top:auto ;position:fixed;background-color:white;opacity:0.98;width:100%;height:100%;z-index:9999;color: #0f33ef; font-family:'Poppins', sans-serif;">
        <div style=" position:fixed;opacity:0.98;width:99%;height:26%;z-index:9999;color: #0f33ef;font-size: 132%; font-family:'Poppins', sans-serif; text-align: center; margin-top: 15%;padding: 2%;min-height: 26%"class="alert alert-warning alert-dismissible fade in" role="alert"  >
            
            <strong><i class="fa fa-warning"></i> Xin lỗi!</strong>
            <ul>
                <li style="display:inline;">Phiên bản làm việc của bạn đã hết hạn. Vui lòng đăng nhập lại.</li>
            </ul> 
            <ul>
                <li style="display:inline;">
                    <input type="button" ng-click="Error()"   class="btn btn-primary" value="Đăng Nhập Lại"/>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Mất kết nối mạng và hệ thống có lỗi, hệ thống không connect tới DB -->
<div id="loading" style="position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999" ng-show="isTimeOutRequest">
    <img style="position:fixed;z-index:9999;top:45%;left:48%" src="../../images/loading/loading.gif" width="100" />
    <div class="x_content bs-example-popovers" style=" margin-top:auto ;position:fixed;background-color:white;opacity:0.98;width:100%;height:100%;z-index:9999;color: #0f33ef; font-family:'Poppins', sans-serif;">
        <div style=" position:fixed;opacity:0.98;width:99%;height:26%;z-index:9999;color: #0f33ef;font-size: 132%; font-family:'Poppins', sans-serif; text-align: center; margin-top: 15%;padding: 2%;min-height: 26%" class="alert alert-warning alert-dismissible fade in" role="alert">

            <strong><i class="fa fa-warning"></i> Xin lỗi! Không thể kết nối đến Server</strong>
            <ul>
                <li style="display:inline;">Kiểm tra lại kết nối mạng. Hoặc báo lại cho chúng tôi nếu gặp thường xuyên!</li>
            </ul>
            <ul>
                <li style="display:inline;">
                    <input type="button" ng-click="btnCheckOnline()" class="btn btn-primary" value="Đã Hiểu" />
                </li>
            </ul>
        </div>
    </div>
</div> 
