
<style>
    .x_title li {
        display: inline-block;
    }

    .x_title ul {
        margin-left: -45px;
    }

    .profile_details:nth-child(3n) {
        clear: none;
    }

    .ed_border {
        border-radius: 5px
    }

    .title_bk {
        border-left: 3px solid;
        font-family: inherit;
        margin-top: auto;
        background: #f5f7fa;
        padding: 7px;
        display: block;
        background-color: #cde0c4;
        color: #356635;
        font-size: 11px;
        height: 29px;
    }

    .detailMess {
        font-size: 12px;
        font-weight: bold;
    }
</style>
<div class="clearfix">
    <div class="row">
        <!--Start: Tìm kiếm xe-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!--không có quyền-->
            <div class="x_content bs-example-popovers" ng-show="!showByPermission(500)" style="padding-bottom: 25%;">
                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong><i class="fa fa-warning"></i> Xin lỗi!</strong>
                    <ul>
                        <li>Bạn không có quyền thực hiện chức năng này.</li>
                    </ul>
                    <ul>
                        <li>Vui lòng liên hệ quản trị viên để được hỗ trợ.</li>
                    </ul>
                </div>
            </div>
            <!--không có quyền-->
            <div ng-show="showByPermission(500)">
                <div class="x_title">
                    <ul>
                        <li><a href="#/main/home"><h5><i class="glyphicon glyphicon-home"></i> {{'Home' | translate}}</h5></a></li>
                        <li><a href="#/main/booking-car"><h5>/ {{'ListCar' | translate}}</h5></a></li>
                        <li><a href=""><h5>/ {{'DetailCar' | translate}}</h5></a></li>
                    </ul>
                </div>
                <div class=" " style="display: block;">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <a href="../../../../images/avt/{{CarInfo.CarImage}}" target="_blank">
                                            <img src="../../../../images/avt/{{CarInfo.CarImage}}" alt="{{CarInfo.CarImage}}" class="img-responsive avatar-view">
                                        </a>
                                    </div>
                                </div>
                                <h3>{{CarInfo.CarName}}</h3>
                                <ul class="list-unstyled user_data">
                                    <li><i class="fa fa-bus"></i> Xe: {{CarInfo.CarNo}}</li>
                                    <li><i class="fa fa-car"></i> Loại xe: {{CarInfo.CarTypeName}}</li>
                                    <li><i class="fa fa-calendar"></i> Hạn đăng kiểm: {{CarInfo.Expires | date:'dd/MM/yyyy'}}</li>
                                    <li><i class="fa fa-calendar"></i> Hạn bảo hiểm: {{CarInfo.InsuranceExpires | date:'dd/MM/yyyy'}}</li>
                                    <li ng-show="DriverInfo.length!=0"><i class="fa fa-share-square-o"></i> Lái xe: {{DriverInfo[0].FullName}}</li>
                                    <li ng-show="DriverInfo.length==0"><i class="fa fa-user"></i> Lái xe: Chưa được phân công</li>
                                    <li ng-show="CarInfo.CarStatus ==1"><i class="fa fa-circle text-success"></i> Hoạt động</li>
                                    <li ng-show="CarInfo.CarStatus ==4" style="color:red"><i class="fa fa-circle text-success" style="color:red"></i> Bảo trì, sửa chữa</li>
                                    <li ng-show="CarInfo.CarStatus ==0" style="color:gray"><i class="fa fa-circle text-success" style="color:grey"></i> Ngừng hoạt động</li>
                                </ul>
                                <div class="title_bk">
                                    <span style="font-weight:bold"><span class="glyphicon glyphicon-cog"></span> Cập nhật:</span> {{CarInfo.LastModifiedDate | date:'HH:mm - dd/MM/yyyy '}}
                                </div> <br />
                                <button ng-show="showByPermission(501)" ng-click="updateCar()" class="btn btn-success btn-round btn-block"><i class="fa fa-edit m-right-xs"></i> Chỉnh sửa</button>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="profile_title">
                                    <div class="col-md-6">
                                        <h2>Tình hình hoạt động</h2>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                            <span>{{myDataSource.chart.subCaption}}</span> <b class="caret"></b>
                                        </div>
                                    </div>
                                </div>
                                <!-- start Biểu đồ -->
                                <div fusioncharts id="my-chart-id" width="100%" height="400" type="column2d" dataSource="{{myDataSource}}"></div>
                                <!-- end of Biểu đồ -->
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <button ng-show="!isShowActivitive" class="btn btn-primary btn-round btn-block col-xs-6" ng-click="ShowActivitive()" type="button">
                                                <i class="fa fa-folder"></i>
                                                <span class="ng-binding">Hoạt động</span>
                                            </button>
                                            <button ng-show="isShowActivitive" class="btn btn-warning btn-round btn-block col-xs-6" ng-click="ShowActivitive()" type="button">
                                                <i class="fa fa-folder-open-o"></i>
                                                <span class="ng-binding">Hoạt động</span>
                                            </button>
                                        </li>
                                        <li role="presentation" class="active">
                                            <button ng-show="!isShowCost" class="btn btn-primary btn-round btn-block col-xs-6" ng-click="ShowCost()" type="button">
                                                <i class="fa fa-folder"></i>
                                                <span class="ng-binding">Chi phí</span>
                                            </button>
                                            <button ng-show="isShowCost" class="btn btn-warning btn-round btn-block col-xs-6" ng-click="ShowCost()" type="button">
                                                <i class="fa fa-folder-open-o"></i>
                                                <span class="ng-binding">Chi phí</span>
                                            </button>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab" ng-show="isShowActivitive">
                                            <!-- start recent activity -->
                                            <ul class="messages">
                                                <li ng-repeat="data in activitiveCar">
                                                    <span class="glyphicon glyphicon-send"></span>
                                                    <div class="message_date">
                                                        <h3 class="date text-info">{{data.DateTimeFrom | date:'dd'}}</h3>
                                                        <p class="month">Tháng {{data.DateTimeFrom | date:'MM'}}</p>
                                                    </div>
                                                    <div class="message_wrapper">
                                                        <h4 class="heading">Đơn bị yêu cầu: {{data.UnitRequest}}</h4>
                                                        <blockquote class="message detailMess">Lộ trình đi và về: {{data.RouteTo}} / {{data.RouteBack}}</blockquote>
                                                        <blockquote class="message detailMess">Giờ đi và về: {{data.DateTimeFrom | date :'HH:mm'}} - {{data.DateTimeTo | date :'HH:mm'}}</blockquote>
                                                        <blockquote class="message detailMess">Tổng số KM: {{data.DistanceTotal}} KM</blockquote>
                                                        <br />
                                                    </div>
                                                </li>
                                            </ul>
                                            <center>
                                                <a href=""><h4></h4></a>
                                            </center>
                                            <!-- end recent activity -->
                                        </div>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="home-tab" ng-show="isShowCost">

                                                <!-- start user projects -->
                                                <div class="table-responsive">
                                                    <table ng-table="tableParams" class="table table-striped table-bordered" role="none" show-filter="false" fixed-table-headers="scrollable-area">
                                                        <tr ng-repeat="item in $data | limitTo : 10" role="none" class="hover_">
                                                            <td data-title="'Địa điểm'" style="width:10%" align="left" sortable="'RepairAddres'">
                                                                {{item.RepairAddres}}
                                                            </td>
                                                            <td data-title="'Nội dung'" style="width:5%" align="left" sortable="'Content'">
                                                                {{item.Content}}
                                                            </td>
                                                            <td data-title="'Số lượng'" style="width:2%" align="left" sortable="'Quantity'">
                                                                <!--filter="{CarNo:'text'}"-->
                                                                {{item.Quantity}} lit
                                                            </td>
                                                            <td data-title="'Tổng tiền'" style="width:5%" align="left" sortable="'TotalMoney'">
                                                                {{item.TotalMoney | currency : ""}} Đ
                                                            </td>
                                                            <td data-title="'Ngày'" style="width:3%" align="left" sortable="'CreateDate'">
                                                                {{item.CreateDate | date:'dd/MM/yyyy'}}
                                                            </td>
                                                            <td data-title="'Hóa đơn'" style="width:5%" align="left">
                                                                <a href="../../../../../images/bills/{{item.ImagerBill}}" target="_blank">
                                                                    <img src="../../../../../images/bills/{{item.ImagerBill}}" ng-show="item.ImagerBill!=''" class="avatar" alt="Avatar">
                                                                </a>
                                                            </td>
                                                            <td data-title="'Ghi chú'" style="width:5%" align="left">
                                                                {{item.Note}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <center>
                                                    <a href=""><h4></h4></a>
                                                </center>
                                                <!-- end user projects -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
