
<style>
    .x_title li {
        display: inline-block;
    }

    .x_title ul {
        margin-left: -45px;
    }

    .profile_details:nth-child(3n) {
        clear: none;
    }
</style>
<div class="clearfix">
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul>
                        <li><a href="#/main/trang-chu"><h5><i class="glyphicon glyphicon-home"></i> {{'Home' | translate}}</h5></a></li>
                        <li><a href="#/main/repair-cost-manager"><h5>/ {{'RepairCostManager' | translate}}</h5></a></li>
                    </ul>
                </div>
                <div class="x_content" style="display: block;">

                    <div class="form-horizontal form-label-left input_mask">
                        <div class="form-group">

                            <div class="control-label col-md-1 col-sm-1 col-xs-12">Từ ngày:</div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class='input-group date' id='myDatepicker'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="control-label col-md-1 col-sm-1 col-xs-12">Đến ngày:</div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class='input-group date' id='myDatepicker2'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="mb15 mt30">
                                    <button class="btn btn-info btn-round btn-block" ng-click="addNewCost()">
                                        <span class="glyphicon glyphicon-search"></span> Xem
                                    </button>
                                </div>
                            </div>

                            <div class="col-md-1 col-sm-1 col-xs-12">
                                <br />
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12" style="float:right">
                                <div class="mb15 mt30">
                                    <button class="btn btn-primary btn-round btn-block" ng-click="addNewCost()">
                                        <span class="glyphicon glyphicon-plus-sign"></span> Thêm mới
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="table-responsive">
                        <table ng-table="tableParams" class="table table-striped jambo_table bulk_action" role="none" show-filter="false" fixed-table-headers="scrollable-area">
                            <tr ng-repeat="item in $data " role="none" class="hover_" ng-click="popupDetailRepairCost(item.RepairID)">
                                <td data-title="'STT'" style="width:2%" role="none" align="center">
                                    {{$index+1}}
                                </td>
                                <td data-title="'Xe'" style="width:5%" align="left">
                                    <!--filter="{CarNo:'text'}"-->
                                    {{item.CarNo}}
                                </td>
                                <td data-title="'Nơi sửa'" style="width:5%" align="left">
                                    {{item.RepairAddres}}
                                </td>
                                <td data-title="'Ngày sửa'" style="width:5%" align="left">
                                    {{item.CreateDate | date:'dd/MM/yyyy'}}
                                </td>
                                <td data-title="'Ghi chú'" style="width:5%" align="left">
                                    {{item.Note}}
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<script src="../../../../../script/teamplate/daterangepicker/moment.min.js"></script>
<script src="../../../../../script/teamplate/daterangepicker/daterangepicker.js"></script>
<script src="../../../../../script/teamplate/daterangepicker/bootstrap-datetimepicker.min.js"></script>
<script>
    $('#myDatepicker').datetimepicker({
        format: 'DD.MM.YYYY'
    });
    $('#myDatepicker2').datetimepicker({
        format: 'DD.MM.YYYY'
    });
</script>