
<style>
    .x_title li {
        display: inline-block;
    }

    .x_title ul {
        margin-left: -45px;
    }

    .profile_details:nth-child(3n) {
        clear: none;
    }
</style>

<div class="clearfix">
    <div class="row">
        <!--Start: Tìm kiếm xe-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul>
                        <li><a href="#/main/driver-manager"><h5><i class="fa fa-group"></i> Quản lý tài khoản</h5></a></li>
                        <!--<li><a href="#/main/dat-xe"><h5>/ {{'TitileSerachCar' | translate}}</h5></a></li>-->
                        <li><a href="#/main/driver-manager"><h5>/ Quản lý lái xe</h5></a></li>
                    </ul>
                </div>
                <div class="x_content" style="display: block;">
                    <div class="row">
                        <div class="col-sm-7 col-xs-6">

                        </div>
                        <!--START:  Loại xe -->
                        <div class="col-sm-5 col-xs-12 ">
                            <div class="col-sm-4 col-xs-6">
                                <div class="form-group">
                                    <!--<label>`</label>-->
                                    <button class="btn btn-primary btn-round btn-block" ng-click="ManagerOpenpopupAddNewDriver()">
                                        <!--ng-disabled="!isSubmitingEnable()"-->
                                        <i class="fa fa-plus-circle"></i>
                                        <span class="ng-binding">Phân công</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <div class="form-group">
                                    <!--<label>`</label>-->
                                    <button class="btn btn-primary btn-round btn-block" ng-click="ManagerOpenpopupAddNewDriver()">
                                        <!--ng-disabled="!isSubmitingEnable()"-->
                                        <i class="fa fa-plus-circle"></i>
                                        <span class="ng-binding">Thêm mới lái xe</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--END:  Loại xe -->
                    </div>
                </div>
                <div class="x_content" style="display: block;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Danh sách lái xe</a>
                                            </li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details" ng-repeat="driverInfo in ManagerGetListDriverResponse">
                                                        <div class="well profile_view">
                                                            <div class="col-sm-12">
                                                                <!--<h4 class="brief"><i>{{driverInfo.FullName}}</i></h4>-->
                                                                <div class="left col-xs-7"> 
                                                                    <h2 style="color: seagreen">{{driverInfo.FullName}}</h2>
                                                                    <ul class="list-unstyled">
                                                                        <li><i class="fa fa-envelope-square user-profile-icon"></i> {{driverInfo.Email}}</li>
                                                                        <li><i class="fa fa-phone"></i> {{driverInfo.NumberPhone}}</li>
                                                                        <li><i class="fa fa-at"></i> Hạn {{driverInfo.LicenseClass}}</li>
                                                                        <li><i class="fa fa-map-marker"></i> {{driverInfo.Addres}}</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="right col-xs-5 text-center">
                                                                    <a href="../../../../images/avt/user.jpg" target="_blank"><img src="../../../../images/avt/user.jpg" alt="taixe1.png" class="img-responsive"></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 bottom text-center">
                                                                <div class="col-xs-12 col-sm-6 emphasis">
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 emphasis">
                                                                    <button type="button" class="btn btn-primary btn-xs" ng-click="ShowDetailDriver(driverInfo.Account_ID)">
                                                                        <i class="fa fa-automobile"> </i> Xem chi tiết
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
