
<style>
    .x_title li {
        display: inline-block;
    }

    .x_title ul {
        margin-left: -45px;
    }

    .profile_details:nth-child(3n) {
        clear: none;
    }

    .ed_border {
        border-radius: 5px
    }

    .lentop {
        bottom: 10%;
        right: 5px;
        position: fixed;
        z-index: 1000;
    }
</style>
<div class="clearfix">
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul>
                        <li><a href="#/main/trang-chu"><h5><i class="glyphicon glyphicon-home"></i> {{'Home' | translate}}</h5></a></li>
                        <li><a href="#/main/manager-repair-cost"><h5>/ {{'CostManager' | translate}}</h5></a></li>
                        <li><a href="#/main/manager-repair-cost"><h5>/ {{'RepairCostManager' | translate}}</h5></a></li>
                    </ul>
                </div>
                <center><h3 style="color:darkslateblue" ng-show="!ShowListCost">Danh sách chi phí sửa chữa cần duyệt</h3></center>
                <center><h3 style="color:darkslateblue" ng-show="ShowListCost">Danh sách chi phí sửa chữa đã duyệt</h3></center>
                <hr />
                <div class="col-md-3 col-sm-3 col-xs-12" style="float:right">
                    <div class="mb15 mt30">
                        <button class="btn btn-primary btn-round btn-block" ng-click="addNewCost()">
                            <span class="glyphicon glyphicon-plus-sign"></span> Thêm mới
                        </button>
                    </div>
                </div>

                <div class="x_content" style="display: block;">
                    <form>
                        <div class="form-horizontal form-label-left input_mask">
                            <div class="form-group">

                                <div class="control-label col-md-1 col-sm-1 col-xs-12">Từ ngày:</div>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class='input-group date' id='myDatepicker'>
                                        <input type="text" class="form-control ed_border" id='myDate1' />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <!--<input class="form-control ed_border" value="" ng-model="searchModel.Date_from" type="date" style="cursor:pointer">-->
                                </div>

                                <div class="control-label col-md-1 col-sm-1 col-xs-12">Đến ngày:</div>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class='input-group date' id='myDatepicker2'>
                                        <input type='text' class="form-control ed_border" id='myDate2' />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <!--<input class="form-control ed_border" value="" ng-model="searchModel.Date_to" type="date" style="cursor:pointer">-->
                                </div>

                                <div class="control-label col-md-1 col-sm-1 col-xs-12">Xe:</div>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <select class="form-control select2 ed_border" ng-model="searchModel.CarID" style="width: 100%;cursor:pointer">
                                        <option ng-selected="selected" value="0">{{'All' | translate }}</option>
                                        <option ng-repeat="item in ListCarInfo" value="{{item.CarID}}">{{item.CarNo}}</option>
                                    </select>
                                </div>

                                <div class="col-md-1 col-sm-1 col-xs-12">
                                    <br />
                                </div>

                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="mb15 mt30">
                                        <button class="btn btn-warning btn-round btn-block" ng-click="searchCost(searchModel)">
                                            <span class="glyphicon glyphicon-search"></span> Xem
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <p style="color:red" ng-show="ErrorDay">* Kiểm tra chọn ngày.</p>
                        </div>
                        <a ng-click="getListCost()"><i class="material-icons lentop"><span class="glyphicon glyphicon-refresh"></span></i></a>
                    </form>

                    <div class="clearfix"></div>

                    <div class="table-responsive" ng-show="!ShowListCost">
                        <table ng-table="tableParams" class="table table-striped table-bordered jambo_table bulk_action" role="none" show-filter="false" fixed-table-headers="scrollable-area">
                            <tr ng-repeat="item in $data " role="none" class="hover_">
                                <td data-title="'Xe'" style="width:7%" align="left" sortable="'CarNo'">
                                    <!--filter="{CarNo:'text'}"-->
                                    {{item.CarNo}}
                                </td>
                                <td data-title="'Nơi sửa'" style="width:10%" align="left">
                                    {{item.RepairAddres}}
                                </td>
                                <td data-title="'Ngày sửa'" style="width:8%" align="left" sortable="'item.CreateDate'">
                                    {{item.CreateDate | date:'dd/MM/yyyy'}}
                                </td>
                                <td data-title="'Hóa đơn'" style="width:5%" align="left">
                                    <a href="../../../../../images/bills/{{item.ImagerBill}}" target="_blank">
                                        <img src="../../../../../images/bills/{{item.ImagerBill}}" class="avatar" alt="Avatar">
                                    </a>
                                </td>
                                <td data-title="'Ghi chú'" style="width:5%" align="left">
                                    {{item.Note}}
                                </td>
                                <td data-title="'Trạng thái'" style="width:7%" align="left">
                                    <span ng-show="item.RepairStatus=='Chờ duyệt'" style="color:red">{{item.RepairStatus}}</span>
                                    <span ng-show="item.RepairStatus=='Không duyệt'" style="color:gray">{{item.RepairStatus}}</span>
                                </td>
                                <td data-title="'Chi tiết'" style="width:0.5%" align="left">
                                    <button class="btn btn-primary" ng-click="popupDetailRepairCost(item)"><i class="glyphicon glyphicon-zoom-in"></i> Chi tiết</button>
                                </td>
                                <td data-title="'Duyệt'" style="width:0.5%" align="left">
                                    <button class="btn btn-success" ng-click="comfirm(item)"><i class="fa fa-edit"></i> Duyệt</button>
                                </td>
                                <td data-title="'Hủy'" style="width:0.5%" align="left">
                                    <button class="btn btn-danger" ng-click="cancel(item)"><i class="fa fa-remove"></i> Hủy</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--search cost-->
                    <p style="color:blue;font-weight:bold" ng-show="ShowListCost">Kết quả tìm kiếm từ ngày {{datefrom | date: 'dd-MM-yyyy'}} đến ngày {{dateto | date: 'dd-MM-yyyy'}}:</p>
                    <div class="table-responsive" ng-show="ShowListCost">
                        <table ng-table="tableParams1" class="table table-striped table-bordered jambo_table bulk_action" role="none" show-filter="false" fixed-table-headers="scrollable-area">
                            <tr ng-repeat="item in $data " role="none" class="hover_" ng-click="popupDetailRepairCost(item.RepairID)" style="cursor:pointer">
                                <td data-title="'Xe'" style="width:7%" align="left" sortable="'CarNo'">
                                    <!--filter="{CarNo:'text'}"-->
                                    {{item.CarNo}}
                                </td>
                                <td data-title="'Nơi sửa'" style="width:10%" align="left">
                                    {{item.RepairAddres}}
                                </td>
                                <td data-title="'Ngày sửa'" style="width:8%" align="left" sortable="'item.CreateDate'">
                                    {{item.CreateDate | date:'dd/MM/yyyy'}}
                                </td>
                                <td data-title="'Hóa đơn'" style="width:5%" align="left">
                                    <a href="../../../../../images/bills/{{item.ImagerBill}}" target="_blank">
                                        <img src="../../../../../images/bills/{{item.ImagerBill}}" class="avatar" alt="Avatar">
                                    </a>
                                </td>
                                <td data-title="'Ghi chú'" style="width:5%" align="left">
                                    {{item.Note}}
                                </td>
                                <td data-title="'Trạng thái'" style="width:8%" align="left">
                                    <span style="color:green">{{item.RepairStatus}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--end search cost-->
                </div>
            </div>
        </div>

    </div>
</div>

<script src="../../../../../script/teamplate/daterangepicker/moment.min.js"></script>
<script src="../../../../../script/teamplate/daterangepicker/daterangepicker.js"></script>
<script src="../../../../../script/teamplate/daterangepicker/bootstrap-datetimepicker.min.js"></script>
<script>
    $('#myDatepicker').datetimepicker({
        format: 'DD-MM-YYYY'
    });
    $('#myDatepicker2').datetimepicker({
        format: 'DD-MM-YYYY'
    });
</script>