<style>
    .modal-header {
        background-color: #2A3F54;
    }

    .title_bk {
        border-left: 3px solid;
        font-family: inherit;
        margin-top: auto;
        color: rebeccapurple;
        background: #f5f7fa;
        margin-bottom: 10px;
        padding: 7px;
        font-size: 17px;
        width: -webkit-fill-available;
    }

    .title_bk_mes {
        border-left: 3px solid;
        font-family: inherit;
        margin-top: auto;
        background: #f5f7fa;
        padding: 7px;
        display: block;
        background-color: #d6dde7;
        font-size: 13px;
        height: auto;
        border-color: #9cb4c5;
        color: #305d8c;
        margin-bottom: 20px;
    }
    /* ng-show animation*/
    /* ngHide animation */
    .ngHideSample {
        /*padding: 10px;*/
        margin: 5px;
    }

        .ngHideSample.ng-hide-add {
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -ms-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
            opacity: 1;
        }

        .ngHideSample.ng-hide-add-active {
            opacity: 0;
        }

        .ngHideSample.ng-hide-remove {
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -ms-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
            opacity: 0;
        }

        .ngHideSample.ng-hide-remove-active {
            opacity: 1;
        }
</style>

<!-- Modal content-->
<!-- Test  -->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="ClosePopup()" class="close">&times;</button>
        <!--<h4 class="modal-title">{{Titile}}</h4>-->
        <h4 class="modal-title">Đăng ký đặt xe công tác</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <!--start Left-->
                    <div class="col-md-4 col-sm-4 col-xs-12 profile_left">
                        <div class="col-md-12 col-sm-12 col-xs-12 title_bk_mes">
                            <span style="font-weight:bold"><span class="glyphicon glyphicon-ok"></span> Đơn vị:</span>
                            <h2>Họ Tên: {{AccountInfo.FullName}}</h2>
                            <ul class="list-unstyled user_data">
                                <li>
                                    <i class="fa fa-briefcase user-profile-icon"></i> Đơn vị: {{AccountInfo.UnitName }}
                                </li>
                                <li>
                                    <i class="fa fa-map-marker user-profile-icon"></i> Chức Vụ: {{AccountInfo.AccountType}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 title_bk_mes">
                            <span style="font-weight:bold"><span class="glyphicon glyphicon-ok"></span> Lưu ý:</span>
                            <ul class="list-unstyled user_data">
                                <li>
                                    <i class="fa fa-map-marker user-profile-icon"></i> Lộ trình đi trên 200km và trên 24h phải có sự phê duyệt từ BGH nhà trường.
                                </li>
                                <li>
                                    <i class="fa fa-map-marker user-profile-icon"></i> Mọi thắc mắc vui lòng liên hệ phòng quản trị. SĐT (08.09999999).
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end Left-->
                    <!--start right-->
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <!--<div class="profile_title">
                            <div class="col-md-6">
                                <h2>Thông tin chuyến đi</h2>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>-->
                        <div class="x_panel">
                            <div class="alert alert-warning ngHideSample" ng-show="isShowMessInputErrorDateTime">
                                <h4>
                                    <i class="fa fa-warning"></i> Xin lỗi!
                                </h4>
                                <ul>
                                    <li>Ngày giờ về phải lớn hơn ngày giờ đi.</li>
                                </ul>

                            </div>
                            <form class="form-horizontal form-label-left input_mask">
                                <!--Start thời gian đi và về-->
                                <h2 class="col-md-12 col-sm-12 col-xs-12 title_bk ">Thời gian</h2>
                                <div class="col-md-7 col-sm-7 col-xs-12 form-group">
                                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Ngày giờ đi<i style="color:red;">(*)</i></label>
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <div class="input-group date" id="myDateFrom">
                                            <input type="text" class="form-control ed_border" id="DateFrom" ng-model="RegisterBKCar.DateFrom">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="angular.element('#DateFrom').val()=='' || angular.element('#DateFrom').val()== null && isCheckDateFrom"><i class="fa fa-warning"></i>Vui lòng chọn!</span>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <span class="fa fa-clock-o form-control-feedback left" aria-hidden="true"></span>
                                        <select class="form-control has-feedback-left" ng-model="RegisterBKCar.TimeFrom" ng-change="CheckInputChange()">
                                            <option selected value="">-- Vui lòng chọn --</option>
                                            <option ng-repeat="timesFrom in Times" value="{{timesFrom.TimeValues}}">
                                                {{timesFrom.TimeName}}
                                            </option>
                                        </select>
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="RegisterBKCar.TimeFrom === '' || RegisterBKCar.TimeFrom === null && isCheckTimeForm">Vui lòng chọn!</span>
                                    </div>
                                </div>

                                <div class="col-md-7 col-sm-7 col-xs-12 form-group">
                                    <label class="control-label col-md-5 col-sm-5 col-xs-12">Ngày giờ về<i style="color:red;">(*)</i></label>
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <div class="input-group date" id="myDateTo">
                                            <input type="text" class="form-control ed_border" id="DateTo" ng-model="RegisterBKCar.DateTo">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="angular.element('#DateTo').val()=='' || angular.element('#DateTo').val() == null && isCheckDateTo"><i class="fa fa-warning"></i>Vui lòng chọn!</span>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <span class="fa fa-clock-o form-control-feedback left" aria-hidden="true"></span>
                                        <select class="form-control has-feedback-left" ng-model="RegisterBKCar.TimeTo" ng-change="CheckInputChange()">
                                            <option selected value="">-- Vui lòng chọn --</option>
                                            <option ng-repeat="timesTo in Times" value="{{timesTo.TimeValues}}">
                                                {{timesTo.TimeName}}
                                            </option>
                                        </select>
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="RegisterBKCar.TimeTo === '' || RegisterBKCar.TimeTo === null && isCheckTimeTo"><i class="fa fa-warning"></i>Vui lòng chọn!</span>
                                    </div>
                                </div>
                                <!--End thời gian đi và về-->
                                <h2 class="col-sm-12 title_bk">  Thông tin cơ bản</h2>
                                <div class=" col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Đơn vị y/c <i style="color:red;">(*)</i></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <span class="fa fa-send-o form-control-feedback right" aria-hidden="true"></span>
                                        <input type="text" class="form-control has-feedback" placeholder="Đơn vị yêu cầu" ng-model="RegisterBKCar.UnitRequest" ng-change="CheckInputChange()">
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="RegisterBKCar.UnitRequest === '' || RegisterBKCar.UnitRequest === null && isCheckUnitRequest"><i class="fa fa-warning"></i>Vui lòng nhập!</span>
                                    </div>

                                </div>
                                <div class=" col-md-12 col-sm-12 col-xs-12  form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Lý do <i style="color:red;">(*)</i></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <span class="fa fa-send-o form-control-feedback right" aria-hidden="true"></span>
                                        <input type="text" class="form-control has-feedback" placeholder="Lý do" ng-model="RegisterBKCar.Reason" ng-change="CheckInputChange()">
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="RegisterBKCar.Reason === '' || RegisterBKCar.Reason === null && ischeckReason"><i class="fa fa-warning"></i>Vui lòng nhập!</span>
                                    </div>
                                </div>
                                <h2 class="col-sm-12 title_bk">Thành phần đoàn đi - Trưởng đoàn</h2>
                                <div class=" col-md-12 col-sm-12 col-xs-12  form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Họ tên <i style="color:red;">(*)</i></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control has-feedback-right" placeholder="Họ tên" ng-model="RegisterBKCar.Leader" ng-change="CheckInputChange()">
                                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="RegisterBKCar.Leader === '' || RegisterBKCar.Leader === null && isCheckLeader"><i class="fa fa-warning"></i>Vui lòng nhập!</span>
                                    </div>
                                </div>

                                <div class=" col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Điện thoại<i style="color:red;">(*)</i></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control has-feedback-right" placeholder="Số điện thoại" ng-model="RegisterBKCar.NumberPhoneLeader" ng-change="CheckInputChange()">
                                        <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="RegisterBKCar.NumberPhoneLeader === '' || RegisterBKCar.NumberPhoneLeader === null && isCheckNumberPhoneLeader"><i class="fa fa-warning"></i>Vui lòng nhập!</span>

                                    </div>
                                </div>
                                <div class=" col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Email <i style="color:red;">(*)</i></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control has-feedback-right" placeholder="abc@gmail.com" ng-model="RegisterBKCar.EmailLeader" ng-change="CheckInputChange()">
                                        <span class="fa fa-envelope form-control-feedback right" aria-hidden="true"></span>
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="isCheckEmailLeader"><i class="fa fa-warning"></i>Email hợp lệ phải có dạng: abc@gmail.com!</span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Số lượng <i style="color:red;">(*)</i></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <span class="fa fa-male form-control-feedback left" aria-hidden="true"></span> 
                                        <input type="number" class="form-control has-feedback-left" placeholder="Số lượng" ng-model="RegisterBKCar.NumberPeople" ng-change="CheckInputChange()"> 
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="isCheckNumberPeople"><i class="fa fa-warning"></i>Phải lớn hoặc bằng 1!</span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Loại xe <i style="color:red;">(*)</i></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <div ng-repeat="item in listCartype" style="float:left; padding:2px; ">
                                            <input type="checkbox" ng-checked="isExists(item)" ng-click="toggle(item)" />
                                            {{item}}
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12" style="float:right">
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="!cartype.length >= 1 && isCheckCarTypeNote"><i class="fa fa-warning"></i>Chọn ích nhất một loại xe!</span>
                                    </div>

                                </div>
                                <h2 class="col-sm-12 title_bk">Lộ trình</h2>

                                <div class=" col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Lộ trình đi <i style="color:red;">(*)</i></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <span class="fa fa-send-o form-control-feedback right" aria-hidden="true"></span>
                                        <input type="text" class="form-control has-feedback" placeholder="Lộ trình đi" ng-model="RegisterBKCar.RouteTo" ng-change="CheckInputChange()">
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="isCheckRouteTo"><i class="fa fa-warning"></i>Phải lớn hơn 20 ký tự!</span>
                                    </div>
                                </div>
                                <div class=" col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Số Km đi <i style="color:red;">(*)</i></label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="number" class="form-control has-feedback-left" placeholder="KM đi" ng-model="RegisterBKCar.PlanDistanceTo" ng-change="CheckInputChange()">
                                        <span class="fa fa-long-arrow-right form-control-feedback left" aria-hidden="true"></span>
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="isCheckPlanDistanceTo"><i class="fa fa-warning"></i>Phải lớn hơn 1 KM!</span>
                                    </div>
                                </div>

                                <div class=" col-md-12 col-sm-12 col-xs-12  form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Lộ trình về <i style="color:red;">(*)</i></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <span class="fa fa-send-o form-control-feedback right" aria-hidden="true"></span>
                                        <input type="text" class="form-control has-feedback" placeholder="Lộ trình về" ng-model="RegisterBKCar.RouteBack" ng-change="CheckInputChange()">
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="isCheckRouteBack"><i class="fa fa-warning"></i>Phải lớn hơn 20 ký tự!</span>
                                    </div>
                                </div>
                                <div class=" col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Số Km về <i style="color:red;">(*)</i></label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="number" class="form-control has-feedback-left" placeholder="KM về" ng-model="RegisterBKCar.PlanDistanceBack" ng-change="CheckInputChange()">
                                        <span class="fa fa-long-arrow-left form-control-feedback left" aria-hidden="true"></span>
                                        <span class="field-validation-valid text-danger ngHideSample" ng-show="isCheckPlanDistanceBack"><i class="fa fa-warning"></i>Phải lớn hơn 1KM!</span>
                                    </div>
                                </div>
                                <div class=" col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                                    <div class=" col-md-9 col-sm-9 col-xs-12 form-group alert alert-warning ngHideSample" style="float: right; height: 34px; padding: inherit; text-align:center" ng-show="isButtonRegister">
                                        <h6>
                                            <i class="fa fa-warning"> Vui lòng nhập đầy đủ thông tin vào các trường bắt buộc (*) !. </i>
                                        </h6>
                                    </div>
                                </div>
                               
                                <!--Start: Button-->
                                <div class=" col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <button class="btn btn-danger btn-round btn-block " type="submit" ng-click="ClosePopup()">
                                                <i class="glyphicon glyphicon-remove"></i>
                                                <span>Hủy</span>
                                            </button>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <button class="btn btn-primary btn-round btn-block  col-md-6 col-sm-6 col-xs-12" type="submit" ng-click="btnRegisterBKCar()" ng-disabled="isButtonRegister">
                                                <i class="glyphicon glyphicon-ok"></i>
                                                <span>Xác Nhận</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--End: Button-->
                            </form>

                            <!--<div class="row">
                                <button class="btn btn-danger btn-round btn-block" type="submit" ng-click="ClosePopup()">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    <span>HỦY</span>
                                </button>
                                <button class="btn btn-primary btn-round btn-block" type="submit" ng-click="yes()">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    <span>XÁC NHẬN</span>
                                </button>
                            </div>-->
                        </div>
                    </div>
                    <!--end right-->
                </div>
            </div>
        </div>
    </div>
</div>


<!--<script src="../../../../../script/teamplate/daterangepicker/moment.min.js"></script>-->
<script src="../../../../../script/teamplate/daterangepicker/daterangepicker.js"></script>
<script src="../../../../../script/teamplate/daterangepicker/bootstrap-datetimepicker.min.js"></script>
<script>
    $('#myDateFrom').datetimepicker({
        format: 'YYYY-MM-DD'
    });
    $('#myDateTo').datetimepicker({
        format: 'YYYY-MM-DD'
    });
    $('#myLicenseExpires').datetimepicker({
        format: 'YYYY-MM-DD'
    });
</script>