<style>
    .modal-header {
        background-color: #2A3F54;
    }
    /*-Upload hình-*/
    .danger {
        font-weight: bold;
        /*//padding: 20px;*/
        color: red;
    }

    /* vi.ly - button delete */
    div.show-image {
        position: relative;
        /* float: left;  */
        margin: 5px;
    }

        div.show-image:hover img {
            opacity: 0.5;
        }

        div.show-image:hover input.delete {
            display: block;
        }

        div.show-image input.delete {
            position: absolute;
            display: none;
        }

        div.show-image input.update {
            top: 0;
            left: 0;
        }

        div.show-image input.delete {
            top: 0;
            left: 60%;
        }

    #imgremove {
        position: absolute;
        margin-left: -35px;
        margin-top: 5px;
    }
    /* ng-show animation*/
    /* ngHide animation */
    .ngHideSample {
        padding: 10px;
        margin: 5px;
    }

        .ngHideSample.ng-hide-add {
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -ms-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
            opacity: 1;
        }

        .ngHideSample.ng-hide-add-active {
            opacity: 0;
        }

        .ngHideSample.ng-hide-remove {
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -ms-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
            opacity: 0;
        }

        .ngHideSample.ng-hide-remove-active {
            opacity: 1;
        }

    .ed_border {
        border-radius: 5px
    }
</style>
<!--<link href="../../../../../script/css/bootstrap.min.css" rel="stylesheet" />
<link href="../../../../../script/teamplate/iCheck/skins/flat/green.css" rel="stylesheet" />
<link href="../../../../../script/teamplate/switchery/dist/switchery.min.css" rel="stylesheet" />
<link href="../../../../../script/teamplate/build/css/custom.min.css" rel="stylesheet" />-->
<!-- Modal content-->
<!-- Test  -->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="ClosePopup()" class="close">&times;</button>
        <h4 class="modal-title">Thêm mới</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="col-md-2 col-sm-2 col-xs-12 profile_left">
                        <div class="form-group" style="text-align: center;">
                            <!--<div class="control-label">Chân dung: <i style="color:red;">(*)</i></div>-->
                            <span ng-show="ImageModel.CHAN_DUNG.ImageData.compressed.dataURL ==='' || ImageModel.CHAN_DUNG.ImageData.compressed.dataURL === null &&  isCheckimgUrl " style="color: orangered">Vui lòng chọn!</span>

                            <div ng-show="!ImageModel.CHAN_DUNG.ImageData.compressed.dataURL =='' || !ImageModel.CHAN_DUNG.ImageData.compressed.dataURL === null  ">
                                <img style="width:auto; max-width: -webkit-fill-available;" ng-src="{{ImageModel.CHAN_DUNG.ImageData.compressed.dataURL}}"
                                     width="200" height="200" ng-click="OpenImg(ImageModel.CHAN_DUNG.ImageData.compressed.dataURL)" />
                                <!--   <img class="delete" type="button" value="xóa" ng-click="removeImage()" src="../../../../images/icon/close_delete-512.png" id="imgremove" style="width: 30px" />-->

                            </div>
                            <div class="row">
                                <div>
                                    <button class="btn btn-payment" id="loadFileXml" value="Chọn Hình"
                                            onclick="document.getElementById('file1').click();" style="margin-top: 5px;" ng-disabled="ShopInfomation.StatusDisable == 7">

                                        <span class="glyphicon glyphicon-picture"></span>
                                        Hóa đơn
                                        <i style="color:red;">(*)</i>
                                    </button>
                                    <input style="display:none;" type="file" id="file1" accept="image/*"
                                           ng-model="ImageModel.CHAN_DUNG.ImageData.compressed.dataURL" image="ImageModel.CHAN_DUNG.ImageData" resize-max-height="600"
                                           resize-max-width="600" resize-quality="0.7" resize-type="image/jpg" ng-image-compress />
                                </div>
                            </div>
                        </div>


                        <!--<div id="crop-avatar">
                            <img class="img-responsive avatar-view" src="../../../../../images/avt/user.jpg" alt="Avatar" title="Change the avatar" style="    width: 142px; ">
                        </div>
                        <br />
                        <div class="form-group">
                            <span class="field-validation-valid text-danger">Vui lòng chọn!</span>
                            <div class="col-sm-12 col-md-12">
                                <button class="btn Sbtn-primary btn-round btn-block" type="submit"
                                        data-ng-click="yes()">
                                    <i class="fa fa-plus-circle"></i>
                                    <span>Chọn</span>
                                    <i style="color:red;">(*)</i>
                                </button>
                            </div>
                        </div>-->
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_content">
                                <div class="form-horizontal form-label-left input_mask">
                                    <div class="form-group">

                                        <div class="control-label col-md-2 col-sm-2 col-xs-12">Chi phí : <i style="color:red;">(*)</i></div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <select class="form-control ed_border" ng-model="costInfo.CostsTypeID" ng-change="TestInputChange(costInfo)" style="width: 100%;">

                                                <!--<option selected value="all">{{'All' | translate }}</option>-->
                                                <option selected value="">-- Vui lòng chọn --</option>
                                                <option value="1">
                                                    Nhiên liệu
                                                </option>
                                                <option value="2">
                                                    Sửa chữa, bảo trì
                                                </option>
                                                <option value="3">
                                                    Chi phí khác
                                                </option>
                                            </select>
                                            <span class="field-validation-valid text-danger" ng-show="costInfo.CostsTypeID === '' || costInfo.CostsTypeID === null && !TestInputChange">Vui lòng chọn!</span>
                                        </div>

                                        <div class="control-label col-md-2 col-sm-2 col-xs-12">Chọn xe : <i style="color:red;">(*)</i></div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <select class="form-control ed_border" ng-model="costInfo.Car_ID" ng-change="TestInputChange(costInfo)" style="width: 100%;">







                                                <!--<option selected value="all">{{'All' | translate }}</option>-->
                                                <option selected value="">-- Vui lòng chọn --</option>
                                                <option ng-repeat="data in ListCarInfo" value="{{data.CarID}}">
                                                    {{data.CarNo}}
                                                </option>
                                            </select>
                                            <span class="field-validation-valid text-danger" ng-show="costInfo.Car_ID === '' || costInfo.Car_ID === null && !TestInputChange">Vui lòng chọn!</span>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="control-label col-md-2 col-sm-2 col-xs-12">Ngày: <i style="color:red;">(*)</i></div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class='input-group date' id='myDatepicker3'>
                                                <input type='text' class="form-control ed_border" id="myDate" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            <span class="field-validation-valid text-danger" ng-show="angular.element('#myDate').val() === '' || angular.element('#myDate').val() === null && !TestInputChange">Vui lòng nhập!</span>
                                        </div>

                                        <div class="control-label col-md-6 col-sm-6 col-xs-12"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="control-label col-md-2 col-sm-2 col-xs-12">Địa chỉ: <i style="color:red;">(*)</i></div>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <span class="fa fa-map-marker form-control-feedback right" aria-hidden="true"></span>
                                            <input class="form-control text-box single-line ed_border" value="" ng-model="costInfo.RepairAddres" ng-change="TestInputChange(costInfo)" type="text">
                                            <span class="field-validation-valid text-danger" ng-show="costInfo.RepairAddres === '' || costInfo.RepairAddres === null && !TestInputChange">Vui lòng nhập!</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="costInfo.Done">
                                        <div class="control-label col-md-2 col-sm-2 col-xs-12">Nội dung: </div>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <span class="fa fa-pencil-square-o form-control-feedback right" aria-hidden="true"></span>
                                            <input class="form-control text-box single-line ed_border" value="" ng-model="costInfo.Content" ng-change="TestInputChange(costInfo)" type="text">
                                            <span class="field-validation-valid text-danger" ng-show="costInfo.Done">Vui lòng nhập!</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="costInfo.Done">
                                        <div class="control-label col-md-2 col-sm-2 col-xs-12">Số lượng: </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <span class="fa fa-thumb-tack form-control-feedback right" aria-hidden="true"></span>
                                            <input class="form-control text-box single-line ed_border" value="" ng-model="costInfo.Quantity" ng-change="TestInputChange(costInfo)" type="number">
                                            <span class="field-validation-valid text-danger" ng-show="costInfo.Done">Vui lòng nhập!</span>
                                        </div>

                                        <div class="control-label col-md-2 col-sm-2 col-xs-12">Tổng tiền: </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <span class="glyphicon glyphicon-usd form-control-feedback right" aria-hidden="true"></span>
                                            <input class="form-control text-box single-line ed_border" value="" ng-model="costInfo.TotalMoney" ng-change="TestInputChange(costInfo)" type="number">
                                            <span class="field-validation-valid text-danger" ng-show="costInfo.Done">Vui lòng nhập!</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2 col-sm-2 col-xs-12">Ghi chú: </div>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <textarea class="form-control text-box single-line ed_border" value="" ng-model="costInfo.Note" ng-change="TestInputChange(costInfo)"></textarea>
                                    </div>
                                </div>
                                <br />
                                <!--Detail Cost-->
                                <!--<pre>{{DetailCost}}</pre>-->
                                <div class="control-label col-md-12 col-sm-12 col-xs-12"><center><h3>Nhập chi tiết</h3></center></div>
                                <br />
                                <div class="table-responsive col-md-12 col-sm-12 col-xs-12">
                                    <table class="table table-striped" role="none" fixed-table-headers="scrollable-area">
                                        <tr>
                                            <td><input type="text" placeholder="Nội dung" class="form-control text-box single-line ed_border" ng-model="DetailCost.Content" /></td>
                                            <td><input type="number" placeholder="Số lượng" class="form-control text-box single-line ed_border" ng-model="DetailCost.Quantity" /></td>
                                            <td><input type="number" placeholder="Tổng tiền" class="form-control text-box single-line ed_border" ng-model="DetailCost.TotalMoney" /></td>
                                            <td><button class="btn btn-info" ng-click="AddMore(DetailCost)" type="reset"><i class="fa fa-edit"></i> Thêm</button></td>
                                        </tr>
                                    </table>
                                </div>
                                <br />
                                <div class="table-responsive col-md-12 col-sm-12 col-xs-12">
                                    <table class="table table-striped" role="none" fixed-table-headers="scrollable-area">
                                        <thead>
                                            <tr>
                                                <th>Nội dung</th>
                                                <th>Số lượng</th>
                                                <th>Tổng tiền</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in DetailCost">
                                                <td><p>{{data.Content}}</p></td>
                                                <td><p>{{data.Quantity}}</p></td>
                                                <td><p>{{data.TotalMoney}}</p></td>
                                                <td><button class="btn btn-danger" ng-hide="DetailCost==null" ng-click="Delete($index)"><i class="fa fa-remove"></i> Xóa</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--Detail Cost-->

                                <div class="form-group" style="float:right">
                                    <span ng-show="btndisabled || ErrorInput" class="field-validation-valid text-danger" style="color:red;"><i>Vui lòng nhập đầy đủ thông tin vào các trường bắt buộc (*)</i></span>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10 col-sm-10 col-xs-12">
                                        <div class="col-sm-6 col-md-6" style="margin-bottom: 1px;">
                                            <button class="btn btn-danger btn-round btn-block"
                                                    ng-click="ClosePopup()">
                                                <i class="glyphicon glyphicon-remove"></i>
                                                <span>HỦY</span>
                                            </button>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <button class="btn Sbtn-primary btn-round btn-block" type="submit" ng-disabled="btndisabled"
                                                    ng-click="addNewCost(ImageModel.CHAN_DUNG.ImageData.compressed.dataURL)">
                                                <i class="fa fa-plus-circle"></i>
                                                <span>THÊM</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="../../../../../script/js/jquery.min.js"></script>-->
<!--<script src="../../../../../script/js/jquery.min.js"></script>
<script src="../../../../../script/js/bootstrap.min.js"></script>
<script src="../../../../../script/teamplate/iCheck/icheck.min.js"></script>
<script src="../../../../../script/teamplate/switchery/dist/switchery.min.js"></script>
<script src="../../../../../script/teamplate/build/js/custom.min.js"></script>-->

<script src="../../../../../script/teamplate/daterangepicker/daterangepicker.js"></script>
<script src="../../../../../script/teamplate/daterangepicker/bootstrap-datetimepicker.min.js"></script>
<script>
    $('#myDatepicker3').datetimepicker({
        format: 'DD-MM-YYYY'
    });
</script>