<style>
    .modal-header {
        background-color: #2A3F54;
    }

    #imgremove {
        position: absolute;
        margin-left: -5%;
        margin-top: -12%;
    }

    #imgremoveimgnew {
        position: absolute;
    }
    /* ng-show animation*/
    /* ngHide animation */
    .ngHideSample {
        /*padding: 0;
        margin: 0;*/
    }

        .ngHideSample.ng-hide-add {
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -ms-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
            opacity: 1;
        }

        .ngHideSample.ng-hide-add-active {
            opacity: 0;
        }

        .ngHideSample.ng-hide-remove {
            -webkit-transition: all linear 0.3s;
            -moz-transition: all linear 0.3s;
            -ms-transition: all linear 0.3s;
            -o-transition: all linear 0.3s;
            opacity: 0;
        }

        .ngHideSample.ng-hide-remove-active {
            opacity: 1;
        }

    .form-group_bk {
        margin: 0;
    }

    .form-group_bk_cv {
        padding: inherit;
        margin-top: 10px;
    }

    .Messuccess {
        float: right;
        height: 58px;
        padding: 20px;
        border-left: 4px solid;
        background-color: #c3e6cb;
        color: #155724;
    }
</style>

<!-- Modal content-->
<!-- Test  -->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="ClosePopup()" class="close">&times;</button>
        <h4 class="modal-title">{{'TitileUpdateCarInfo' | translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">

                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                        <div class="profile_img" ng-show="!ischeckImgNew">
                            <div id="crop-avatar">
                                <!-- Current avatar -->
                                <a href="../../../../images/avt/{{CarInfo.CarImage}}" target="_blank">
                                    <img src="../../../../images/avt/{{CarInfo.CarImage}}" alt="{{CarInfo.CarImage}}" class="img-responsive avatar-view">
                                </a>
                            </div>
                        </div>
                        <!--chọn hình mới-->
                        <!--<div class="profile_img">
                            <div id="crop-avatar">

                            </div>
                        </div>-->
                        <div class="form-group" style="text-align: center;" ng-show="ischeckImgNew">
                            <div class="form-group" style="text-align: center;" ng-click="removeImageNew()">
                                <span ng-show="ImageModel.CHAN_DUNG.ImageData.compressed.dataURL ==='' || ImageModel.CHAN_DUNG.ImageData.compressed.dataURL === null  " style="color: orangered">Hủy!</span>
                                <img ng-show="ischeckImgNew && ImageModel.CHAN_DUNG.ImageData.compressed.dataURL ==='' || ImageModel.CHAN_DUNG.ImageData.compressed.dataURL === null  " class="delete" type="button" value="xóa" src="../../../../images/icon/close_delete-512.png" id="imgremoveimgnew" style="width: 30px" />
                            </div>
                            <div ng-show=" !ImageModel.CHAN_DUNG.ImageData.compressed.dataURL =='' || !ImageModel.CHAN_DUNG.ImageData.compressed.dataURL === null  ">
                                <img style="width:auto; max-width: -webkit-fill-available;" ng-src="{{ImageModel.CHAN_DUNG.ImageData.compressed.dataURL}}"
                                     width="200" height="200" />
                                <img class="delete" type="button" value="xóa" ng-click="removeImage()" src="../../../../images/icon/close_delete-512.png" id="imgremove" style="width: 30px" />
                            </div>
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <button class="btn btn-payment" id="loadFileXml" value="Chọn Hình" ng-click="upLoadIMGNew()"
                                    onclick="document.getElementById('file1').click();" style="margin-top: 5px;">
                                <span class="glyphicon glyphicon-picture"></span>
                                Chọn Hình Khác
                                <i style="color:red;">(*)</i>
                            </button>
                            <input style="display:none;" type="file" id="file1" accept="image/*"
                                   ng-model="ImageModel.CHAN_DUNG.ImageData.compressed.dataURL" image="ImageModel.CHAN_DUNG.ImageData" resize-max-height="600"
                                   resize-max-width="600" resize-quality="0.7" resize-type="image/jpg" ng-image-compress />
                        </div>
                        <!--chọn hình mới-->
                        <!--<h3>{{CarInfo.CarName}}</h3>
                        <ul class="list-unstyled user_data">
                            <li><i class="fa fa-bus"></i> Xe: {{CarInfo.CarNo}}</li>
                            <li><i class="fa fa-car"></i> Loại xe: {{CarInfo.CarTypeName}}</li>
                            <li><i class="fa fa-calendar"></i> Hạn đăng kiểm: {{CarInfo.Expires | date:'dd/MM/yyyy'}}</li>
                            <li><i class="fa fa-calendar"></i> Hạn bảo hiểm: {{CarInfo.InsuranceExpires | date:'dd/MM/yyyy'}}</li>
                            <li ng-show="CarInfo.CarStatus ==1"><i class="fa fa-circle text-success"></i> Hoạt động</li>
                            <li ng-show="CarInfo.CarStatus ==4" style="color:red"><i class="fa fa-circle text-success" style="color:red"></i> Bảo trì, sửa chữa</li>
                            <li ng-show="CarInfo.CarStatus ==0" style="color:gray"><i class="fa fa-circle text-success" style="color:grey"></i> Ngừng hoạt động</li>
                            <li class="title_bk">
                                <span style="font-weight:bold"><span class="glyphicon glyphicon-cog"></span> Cập nhật:</span> {{CarInfo.LastModifiedDate | date:'HH:mm - dd/MM/yyyy '}}
                            </li>
                        </ul>-->
                        <button class="btn btn-warning btn-round btn-block dropdown-toggle pull-right" aria-expanded="false" data-toggle="dropdown" ng-click="export()">
                            <span class="glyphicon glyphicon-cog"></span> Cập nhật
                        </button>
                        <ul role="menu" class="dropdown-menu" style="float:right">
                            <li>
                                <a ng-show="CarInfo.CarStatus!=4" ng-click="updateCarStatus(4)"><span class="glyphicon glyphicon-wrench"></span> Bảo trì, sửa chữa</a>
                            </li>
                            <li>
                                <a ng-show="CarInfo.CarStatus!=1" ng-click="updateCarStatus(1)"><span class="glyphicon glyphicon-wrench"></span> Hoạt động</a>
                            </li>
                            <li>
                                <a ng-show="CarInfo.CarStatus!=0" ng-click="updateCarStatus(0)"><span class="glyphicon glyphicon-wrench"></span> Ngừng hoạt động</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 profile_left">
                        <div class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <div class="control-label col-md-4 col-sm-4 col-xs-12">Tên xe: <i style="color:red;">(*)</i></div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control text-box single-line ed_border" ng-model="CarInfo.CarName" type="text" id="carName" ng-change="TestInputChange(CarInfo)">
                                    <span class="field-validation-valid text-danger ngHideSample " ng-show=" CarInfo.CarName === '' || CarInfo.CarName === null"><i class="fa fa-warning"></i> Vui lòng nhập!</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4 col-sm-4 col-xs-12">Biển số: <i style="color:red;">(*)</i></div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input class="form-control text-box single-line ed_border" ng-model="CarInfo.CarNo" type="text" id="carNo" ng-change="TestInputChange(CarInfo)">
                                    <span class="field-validation-valid text-danger ngHideSample " ng-show=" CarInfo.CarNo === '' || CarInfo.CarNo === null"><i class="fa fa-warning"></i> Vui lòng nhập!</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4 col-sm-4 col-xs-12">Hạn đăng kiểm: <i style="color:red;">(*)</i></div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class='input-group date' id='myDatepicker1'>
                                        <input type='text' class="form-control ed_border" id='myDate1' ng-change="TestInputChange(CarInfo)" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <span class="field-validation-valid text-danger ngHideSample " ng-show=" CarInfo.Expires === '' || CarInfo.Expires === null"><i class="fa fa-warning"></i> Vui lòng nhập!</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4 col-sm-4 col-xs-12">Hạn bảo hiểm: <i style="color:red;">(*)</i></div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class='input-group date' id='myDatepicker2'>
                                        <input type='text' class="form-control ed_border" id='myDate2' ng-change="TestInputChange(CarInfo)" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <span class="field-validation-valid text-danger ngHideSample " ng-show=" CarInfo.InsuranceExpires === '' || CarInfo.InsuranceExpires === null"><i class="fa fa-warning"></i> Vui lòng nhập!</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-4 col-sm-4 col-xs-12">Loại xe: <i style="color:red;">(*)</i></div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select class="form-control ed_border" style="width: 100%;" id="carType">
                                        <option value="{{CarInfo.CarTypeID}}">{{CarInfo.CarTypeName}}</option>
                                        <option ng-repeat="data in listCarType" ng-show="data.CarTypeID != CarInfo.CarTypeID" value="{{data.CarTypeID}}">{{data.CarTypeName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ngHideSample" ng-show="btndisabled">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12"> </label>
                                <div class=" col-md-8 col-sm-8 col-xs-12 form-group alert alert-warning " style="float: right; height: 34px; padding: inherit; text-align:center">
                                    <h6>
                                        <i class="fa fa-warning"> Vui lòng nhập đầy đủ thông tin vào các trường bắt buộc (*) !. </i>
                                    </h6>
                                </div>
                            </div>
                            <div class=" col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                                <div class=" col-md-9 col-sm-9 col-xs-12 form-group alert alert-success ngHideSample Messuccess" style="" ng-show="isShowRegisterSuccess">
                                    <h4>
                                        <i class="fa fa-check"></i> Cập nhật thông tin thành công.
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-6" style="float:right">
                    <div class="col-sm-6">
                        <div class="mb15 mt30">
                            <button class="btn btn-danger btn-round btn-block"
                                    ng-click="ClosePopup()">
                                <!--ng-disabled="!isSubmitingEnable()"-->
                                <i class="glyphicon glyphicon-remove"></i>
                                <span>Đóng</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb15 mt30">
                            <button class="btn btn-primary btn-round btn-block" ng-disabled="btndisabled"
                                    ng-click="updateCarInfo()">
                                <!--ng-disabled="!isSubmitingEnable()"-->
                                <i class="glyphicon glyphicon-ok"></i>
                                <span>Lưu</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
</div>

<script src="../../../../../script/teamplate/daterangepicker/moment.min.js"></script>
<script src="../../../../../script/teamplate/daterangepicker/daterangepicker.js"></script>
<script src="../../../../../script/teamplate/daterangepicker/bootstrap-datetimepicker.min.js"></script>

<script>
    $('#myDatepicker1').datetimepicker({
        format: 'DD-MM-YYYY'
    });
    $('#myDatepicker2').datetimepicker({
        format: 'DD-MM-YYYY'
    });
</script>