<style>
    .modal-header {
        background-color: #2A3F54;
    }
</style>
<!--<link href="../../../../../script/css/bootstrap.min.css" rel="stylesheet" />
<link href="../../../../../script/teamplate/iCheck/skins/flat/green.css" rel="stylesheet" />
<link href="../../../../../script/teamplate/switchery/dist/switchery.min.css" rel="stylesheet" />
<link href="../../../../../script/teamplate/build/css/custom.min.css" rel="stylesheet" />-->
<!-- Modal content-->
<!-- Test  -->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="ClosePopup()" class="close">&times;</button>
        <h4 class="modal-title">Thêm mới lái xe</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <!--<div class="profile_title">
                        <div class="col-md-6">
                            <h2>Thông tin chi tiết </h2>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>-->
                    <div class="x_panel">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_content">
                                <div class="x_content">

                                    <div class="form-horizontal form-label-left input_mask">


                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Tên đăng nhập:</div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="form-control text-box single-line" id="TENDNTX" name="TENDNTX" required="required" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="TENDNTX" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Mật khẩu:</div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="form-control text-box single-line" id="MATKHAUTX" name="MATKHAUTX" required="required" type="password" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="MATKHAUTX" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Họ tên:</div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="form-control text-box single-line" id="HOTENTX" name="HOTENTX" required="required" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="HOTENTX" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Ngày sinh:</div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="date-picker form-control" name="ngaysinh" required="required" type="date">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Địa chỉ:</div>
                                            <div class="col-md-10 col-sm-10 col-xs-12">
                                                <input class="form-control text-box single-line" id="DIACHITX" name="DIACHITX" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="DIACHITX" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Số điện thoại:</div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field SDTTX must be a number." id="SDTTX" name="SDTTX" required="required" type="number" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="SDTTX" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Số CMND:</div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field CMNDTX must be a number." id="CMNDTX" name="CMNDTX" type="number" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="CMNDTX" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Số bằng lái:</div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="form-control text-box single-line" data-val="true" data-val-number="The field SOBANGLAI must be a number." id="SOBANGLAI" name="SOBANGLAI" required="required" type="number" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="SOBANGLAI" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Hạng bằng lái:</div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="form-control text-box single-line" id="HANBANGLAI" name="HANBANGLAI" required="required" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="HANBANGLAI" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Ngày cấp:</div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="date-picker form-control" name="ngaycapbl" required="required" type="date">
                                            </div>
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Ngày hết hạn:</div>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <input class="date-picker form-control" name="ngayhethanbl" required="required" type="date">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Nơi cấp bằng lái:</div>
                                            <div class="col-md-10 col-sm-10 col-xs-12">
                                                <input class="form-control text-box single-line" id="NOICAPBL" name="NOICAPBL" required="required" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="NOICAPBL" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="control-label col-md-2 col-sm-2 col-xs-12">Ảnh đại diện:</div>
                                            <div class="col-md-10 col-sm-10 col-xs-12">
                                                <input type="file" name="fileUpload">
                                                <div style="color:red"></div>
                                                <div style="color:red"></div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10 col-sm-10 col-xs-12">
                                                <div class="col-sm-6 col-md-6" style="margin-bottom: 1px;">
                                                    <button class="btn btn-danger btn-round btn-block" type="submit"
                                                            ng-click="ClosePopup()">
                                                        <!--ng-disabled="!isSubmitingEnable()"-->
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                        <span>HỦY</span>
                                                    </button>
                                                </div>
                                                <div class="col-sm-6 col-md-6">
                                                    <button class="btn Sbtn-primary btn-round btn-block" type="submit"
                                                            data-ng-click="yes()">
                                                        <!--ng-disabled="!isubmitingEnable()"-->
                                                        <i class="fa fa-plus-circle"></i>
                                                        <span>THÊM</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

 
</div>
<!--<script src="../../../../../script/js/jquery.min.js"></script>
<script src="../../../../../script/js/bootstrap.min.js"></script>
<script src="../../../../../script/teamplate/iCheck/icheck.min.js"></script>
<script src="../../../../../script/teamplate/switchery/dist/switchery.min.js"></script>
<script src="../../../../../script/teamplate/build/js/custom.min.js"></script>-->
