<style>
    .module {
        width: 100%;
        height: 1000px;
        display: grid;
        place-items: center;
        /*color: #ff43ea;*/
        position: relative;
    }

        .module::before {
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: url(/images/img/image001_3.jpg);
            background-size: cover;
            /*filter: grayscale(100%);*/
        }

    .module-inside {
        position: relative;
        font: bold 42px sans-serif;
    }
    /*/Img trang chủ / car   /*/
    .inner img {
        width: 90%;
        height: 70%;
    }

    .inner img {
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
    }

        .inner img:hover {
            transform: scale(1, 1);
            -webkit-transform: scale(0.9, 0.9);
            -moz-transform: scale(0.9, 0.9);
            -o-transform: scale(0.9, 0.9);
            -ms-transform: scale(0.9, 0.9);
        }

    .bg-aqua {
        background-color: #27346b59 !important;
        text-align: center;
        color: #e3dddd;
    }

    /*Show div không có quyền*/
    /*.NotPermissionPages {
        background-color: #f39c12;
        color: white;
        width: 100%;
        border-radius: 10px 10px;
        text-align: center;
        padding: 10px;
        font-size: 14px;*/


</style>
<style>
    body {
        height: -webkit-fill-available;
        background-image: url('../../../../images/background/car.jpg');
        background-position: center center;
        /* Image doesn't repeat */
        background-repeat: no-repeat;
        /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
        background-attachment: fixed;
        /* This is what makes the background image rescale based on its container's size */
        background-size: cover;
        /* Pick a solid background color that will be displayed while the background image is loading */
        background-color: #464646;
    }

    @media only screen and (max-width: 767px) {
        .background_img {
            /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
            background-image: url(../../../../images/background/car.jpg);
        }
    }

    .navbar-default {
        background-color: #f8f8f800;
        border-color: #e7e7e700;
        min-height: 67%;
    }
</style>
<!--// button--> 
<style>
    .btnButton {
        background-color: #004A7F;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Arial;
        font-size: 20px;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
    }
    @-webkit-keyframes glowing {
        0% {
            background-color: #f0ad4e;
            -webkit-box-shadow: 0 0 3px #f0ad4e;
        }

        50% {
            background-color: #0094FF;
            -webkit-box-shadow: 0 0 10px #0094FF;
        }

        100% {
            background-color: #f0ad4e;
            -webkit-box-shadow: 0 0 3px #f0ad4e;
        }
    }

    @-moz-keyframes glowing {
        0% {
            background-color: #f0ad4e;
            -moz-box-shadow: 0 0 3px #f0ad4e;
        }

        50% {
            background-color: #0094FF;
            -moz-box-shadow: 0 0 10px #0094FF;
        }

        100% {
            background-color: #f0ad4e;
            -moz-box-shadow: 0 0 3px #f0ad4e;
        }
    }

    @-o-keyframes glowing {
        0% {
            background-color: #f0ad4e;
            box-shadow: 0 0 3px #f0ad4e;
        }

        50% {
            background-color: #0094FF;
            box-shadow: 0 0 10px #0094FF;
        }

        100% {
            background-color: #f0ad4e;
            box-shadow: 0 0 3px #f0ad4e;
        }
    }

    @keyframes glowing {
        0% {
            background-color: #f0ad4e;
            box-shadow: 0 0 3px #f0ad4e;
        }

        50% {
            background-color: #0094FF;
            box-shadow: 0 0 10px #0094FF;
        }

        100% {
            background-color: #f0ad4e;
            box-shadow: 0 0 3px #f0ad4e;
        }
    }

    .btnButton {
        -webkit-animation: glowing 1500ms infinite;
        -moz-animation: glowing 1500ms infinite;
        -o-animation: glowing 1500ms infinite;
        animation: glowing 1500ms infinite;
    }
</style>

<div class="row" role="main" style="height: 100%;">
    <div class="  container ">
        <div class="row  ">
            <div class=" col-xs-12"></div>
            <div class="col-sm-6 col-xs-12" style="margin-top:9px; text-align:center">
                <!-- small box -->
                <div class="small-box bg-aqua" style="margin-top: 19%; text-align: center;  font-size: 212%; margin-top: 19%; text-align: center;font-family: 'Poppins', sans-serif;">
                    <div class="inner">
                        <div class="alert   alert-dismissible fade in" role="alert">
                            <strong ><i class="fa fa-bullhorn " style="color:red"></i> Booking Hutech</strong><!--fa fa-car-->
                            <ul>
                                <li style="display:inline;   font-size: 68%;"> <i class="fa fa-hand-o-right"></i> Phần mềm quản lý đặt xe, cấp phát xe hutech</li>
                            </ul>
                            <ul style="padding: 25px;">
                                <li style="display:inline;">
                                    <button type="submit" style=" padding: 12px;" ng-click="OpenPopupRegisteredBookingCar()" class="btn btn-warning btnButton">
                                        <i class="fa fa-car"></i>
                                        <span>ĐẶT XE CÔNG TÁC</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="col-sm-6">
                        <button class="btn btn-primary btn-round btn-block" ng-click="OpenPopupRegisteredBookingCar()">
                            <i class="fa fa-arrow-circle-right"></i>
                            <span>ĐẶT XE</span>
                        </button>

                    </div>-->
                </div>
            </div>
            <div class="col-sm-6 col-xs-12"></div>
        </div>
        <!--Danh sách booking hutech-->
    </div>
</div>


<!--<script src="../../../../script/js/custom.min.js"></script>
<script src="../../../../script/js/jquery.min.js"></script>-->
